html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*for sign up page*/
.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

@font-face {
    font-family: "default";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Inter-Bold.ttf");
    src: url("../fonts/Inter-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "default";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Inter-SemiBold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "default";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Inter-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "default";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inter-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "default";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Inter-Light.ttf");
    font-display: swap;
}

:root {
    --color-main: #000080;
    --color-main1: #ec282f;
    --color-hover: #fbbc04;
    --color-star: #f1a700;
    --color-text: #333;
    --color-white: #fff;
    --color-black: #000;
    --color-red: #FF0000;
    --color-border: #e2e2e2;
    --color-border-table: #d6d6d6;
    --color-placeholder: #727070;
    --color-profile-placeholder: #e5e5e5;
    --color-profile: #4e4e4e;
    --color-before: #b2b2b2;
    --color-path: #3333;
    --color-share: #959595;
    --color-form: #7e7e7e;
    --color-ft: #d7d6d6;
    --color-filter: #818181;
    --color-filter-border: #eaeaea;
    --color-time: #868686;
    --color-path: #696969;
    --color-dot: #d9d9d9;
    --color-social: #5d5d5d;
    --bg-info-tour-detail: #f9f9f9;
    --bg-translate: #eeefef;
    --bg-mess: #1777f1;
    --bg-zalo: #008ff3;
    --bg-contact: #f3f3f3;
    --bg-contact1: #121212;
    --bg-help: #3b3b3b;
    --bg-menu-child: #f0f0f0;
    --bg-list-tour: #fafafa;
    --bg-title-tour: #e4e4e4;
    --h-header: 51.2px;
    --h-header-medium: 155.6px;
    --h-header-mini: 101px;
    --width-container-2: 1390px;
    --width-container: 1255px;
    --width-logo: 110px;
    --bd-form: #000;
    --fs-text: 16px;
    --fs-h1: 26px;
    --fs-h2: 22px;
    --fs-h3: 18px;
    --fs-h4: 16px;
    --fs-h5: 15px;
    --fs-h6: 14px;
    --fs-14: 14px;
    --fs-menu: 16px;
    --fs-paragraph: 16px;
    --fs-paragraph-item: 14px;
    --fs-info-tour: 14px;
    --fs-more: 14px;
    --fs-time: 14px;
    --fs-right-child: 14px;
    --fs-type-tour: 14px;
    --fs-tag: 14px;
    --fs-ft-top: 20px;
    --fs-type: 20px;
    --fs-ft-mid: 15px;
    --fs-ft-bot: 15px;
    --fs-placeholder: 15px;
    --fs-left-title: 24px;
    --fs-price: 18px;
    --fs-price-number: 22px;
    --fs-total-value: 16px;
    --fs-total-value-strong: 20px;
    --fs-big-title: 29px;
    --fs-title-item: 16px;
    --fs-title-item-service: 18px;
    --fs-title-content: 20px;
    --fs-title-list: 26px;
    --height-header: 80px;
    --height-header-top: 100px;
    --height-header-bot: 40px;
    --height-header-mb: 60px;
}

@media (max-width: 118.75rem) {
    :root {
        --width-container: 1295px;
        --width-container-2: 1140px;
    }
}

@media (max-width: 103.125rem) {
    :root {
        --width-container-2: 1140px;
    }
}

@media (max-width: 88.6875rem) {
    :root {
        --width-container-2: 1140px;
    }
}

@media (max-width: 61.9375em) {
    :root {
        --width-container: 100%;
        --width-container-2: 720px;
        --fs-title: 22px;
    }
}

@media (max-width: 47.9375em) {
    :root {
        --fs-text: 14px;
        --width-logo: 70px;
        --width-container: 100%;
        --width-container-2: 100%;
        --fs-ft-top: 16px;
        --fs-type: 16px;
        --fs-ft-mid: 15px;
        --fs-ft-bot: 15px;
        --fs-placeholder: 15px;
        --fs-left-title: 18px;
        --fs-price: 16px;
        --fs-price-number: 20px;
        --fs-big-title: 20px;
        --fs-title-item: 16px;
        --fs-title-item-service: 16px;
        --fs-title-content: 16px;
        --fs-title-list: 18px;
    }
}

@media (max-width: 35.9375em) {
    :root {
        --width-container: 100%;
        --width-container-2: 100%;
    }
}

.form-signin,
.form-signup,
.form-reset {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    max-width: 460px;
    padding: 0 45px;
    padding-top: 35px;
    padding-bottom: 40px;
    border-radius: 20px;
    opacity: 0;
    transition: 0.3s linear all;
    pointer-events: none;
    border: 1px solid #000;
}

@media (max-width: 991px) {

    .form-signin,
    .form-signup,
    .form-reset {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 767px) {

    .form-signin,
    .form-signup,
    .form-reset {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.form-signin.active,
.form-signup.active,
.form-reset.active {
    opacity: 1;
    transition: 0.3s linear all;
    pointer-events: all;
}

.form-signin .btn-close-form,
.form-signup .btn-close-form,
.form-reset .btn-close-form {
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
}

.form-signin .btn-close-form svg,
.form-signup .btn-close-form svg,
.form-reset .btn-close-form svg {
    fill: var(--color-main);
}

.form-signin .logo,
.form-signup .logo,
.form-reset .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
}

@media (max-width: 991px) {

    .form-signin .logo,
    .form-signup .logo,
    .form-reset .logo {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {

    .form-signin .logo,
    .form-signup .logo,
    .form-reset .logo {
        margin-bottom: 15px;
    }
}

.form-signin .logo img,
.form-signup .logo img,
.form-reset .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 217/148;
}

.form-signin form,
.form-signup form,
.form-reset form {
    width: 100%;
}

.form-signin form .input-form,
.form-signup form .input-form,
.form-reset form .input-form {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.form-signin form .input-form .icon,
.form-signup form .input-form .icon,
.form-reset form .input-form .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-signin form .input-form .icon svg,
.form-signup form .input-form .icon svg,
.form-reset form .input-form .icon svg {
    fill: var(--bd-form);
}

.form-signin form .input-form input,
.form-signup form .input-form input,
.form-reset form .input-form input {
    font-size: var(--fs-paragraph);
    color: var(--color-text);
    padding: 10px 15px 10px 40px;
    width: 100%;
    border: 1px solid var(--bd-form);
    border-radius: 8px;
}

.form-signin form .input-form input::placeholder,
.form-signup form .input-form input::placeholder,
.form-reset form .input-form input::placeholder {
    font-size: var(--fs-paragraph);
    color: var(--color-text);
}

.form-signin form .input-form.check .icon svg,
.form-signup form .input-form.check .icon svg,
.form-reset form .input-form.check .icon svg {
    fill: var(--color-red);
}

.form-signin form .input-form.check input,
.form-signup form .input-form.check input,
.form-reset form .input-form.check input {
    border: 1px solid var(--color-red);
}

.form-signin form .input-form.check input::placeholder,
.form-signup form .input-form.check input::placeholder,
.form-reset form .input-form.check input::placeholder {
    color: var(--color-red);
}

.form-signin form .btn-reset,
.form-signup form .btn-reset,
.form-reset form .btn-reset {
    font-size: var(--fs-paragraph);
    color: var(--color-main);
    cursor: pointer;
    margin-bottom: 15px;
}

.form-signin form button,
.form-signup form button,
.form-reset form button {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--color-main);
    background: var(--color-main);
    text-transform: uppercase;
    font-size: var(--fs-paragraph);
    font-weight: 700;
    color: var(--color-white);
    cursor: pointer;
    margin-bottom: 15px;
}

.form-signin form button:hover,
.form-signup form button:hover,
.form-reset form button:hover {
    background: var(--color-white);
    color: var(--color-main);
}

.form-signin form>p,
.form-signup form>p,
.form-reset form>p {
    font-size: var(--fs-paragraph);
    text-align: center;
}

.form-signin form>p strong,
.form-signup form>p strong,
.form-reset form>p strong {
    font-weight: 700;
    color: var(--color-main);
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 90;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease;
}

.overlay.show {
    opacity: 1;
    pointer-events: all;
    display: flex !important;
}

.overlay.show1 {
    opacity: 1;
    pointer-events: all;
    display: flex !important;
    z-index: 102;
}



/* Start Global Rules */
* {
    box-sizing: border-box;
    font-family: "default";
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Landing Page */
.landing-page header {
    min-height: 80px;
    display: flex;
}

@media (max-width: 767px) {
    .landing-page header {
        min-height: auto;
        display: initial;
    }
}

.landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .landing-page header .container {
        flex-direction: column;
        justify-content: center;
    }
}

.landing-page header .logo {
    color: #5d5d5d;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
}

@media (max-width: 767px) {
    .landing-page header .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.landing-page header .links {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .landing-page header .links {
        text-align: center;
        gap: 10px;
    }
}

.landing-page header .links li {
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
    transition: .3s;
}

@media (max-width: 767px) {
    .landing-page header .links li {
        margin-left: auto;
    }
}

.landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page header .links li:not(:last-child):hover {
    color: #6c63ff;
}

.landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
}

@media (max-width: 767px) {
    .landing-page .content .container {
        gap: 0;
        min-height: calc(100vh - 101px);
        justify-content: center;
        flex-direction: column-reverse;
    }
}

@media (max-width: 767px) {
    .landing-page .content .info {
        text-align: center;
        margin-bottom: 15px
    }
}

.landing-page .content .info h1 {
    color: #5d5d5d;
    font-size: 44px;
}

.landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
}

.landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page .content .image img {
    max-width: 100%;
}

/* End Landing Page */



/*START CSS NAVBAR*/
.header-nav {
    position: relative;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1.5rem 2.5rem 1.9rem;
    box-shadow: 0 4px 8px 0 rgba(50, 50, 93, .05);
}

.header-nav:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #002d4e;
    background-image: linear-gradient(90deg, #00d2ff 0%, #3a7bd5 100%);
}

.header-left,
.header-right {
    display: flex;
    align-items: center;

}

.header-right {
    position: relative;
    justify-content: flex-end;
}


.avatar-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar-dropdown-arrow {
    transition: opacity .1s linear, transform .15s linear;
}

.avatar-dropdown-arrow.active {
    transform: rotate(180deg);
}

.avatar-wrapper:hover .avatar-dropdown-arrow {
    opacity: 0.2;
}

.avatar-photo {
    border-radius: 4px;
    margin-right: 0.5rem;
}

.dropdown-wrapper {
    position: absolute;
    top: 75%;
    transform: scale(0.8);
    transform-origin: top;
    transform-origin: right;
    right: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-top: .5rem;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(50, 50, 93, .08), 0 2px 4px 0 rgba(50, 50, 93, .05), 0 4px 8px 0 rgba(136, 152, 170, .08);
    transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);
    opacity: 0;
    visibility: hidden;
}

.dropdown-wrapper.active {
    top: 100%;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.dropdown-profile-details {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid #eaeaea;
}

.dropdown-profile-details--name {
    font-size: 1.75rem;
    margin-bottom: 0;
    font-weight: 600;
}

.dropdown-profile-details--email {
    font-size: 1.2rem;
    color: #6f6f6f;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    padding-top: 0.7rem;
}

.dropdown-links a {
    color: #525F7F;
    text-decoration: none;
    padding-bottom: 1rem;
    transition: all 0.1s linear;
}

.dropdown-links a:hover {
    color: black;
    font-weight:bold;
}

.dropdown-links a:last-of-type {
    padding-bottom: 0;
}

/*END CSS NAVBAR*/


/*START CSS SIDEBAR*/

.active-sidebar {
    color: #fff;
    background-color: #0d6efd;
}

/*END CSS SIDEBAR*/