﻿<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter" />
</head>

<div class="containerx">
    <h2 class="page-title">Tùy chỉnh lớp học</h2>
    <div class="input-field">
        <label for="class-name">Tên lớp</label>
        <br />
        <input style="
            border: 1px solid lightgray;
            border-radius: 5px;
            margin-top: 5px;
            width: 100%;
            height: 30px;
          "
               type="text"
               id="class-name" />
    </div>
    <div class="input-field">
        <label for="mode">Duyệt thủ công</label>
        <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
            <span class="switch-label">Switch</span>
        </label>
    </div>
    <div class="input-field">
        <div class="image-container" onclick="selectImage()">
            <label for="image-upload" class="select-image-label">Chọn ảnh</label>
            <input type="file"
                   id="image-upload"
                   accept="image/*"
                   onchange="previewImage(event)" />
            <div id="image-preview"></div>
        </div>
    </div>
    <button class="button" onclick="saveImage()">Lưu</button>
</div>

<script>
    function saveImage() { }

    function selectImage() {
        var inputElement = document.getElementById("image-upload");
        inputElement.click();
    }

    function previewImage(event) {
        var imagePreview = document.getElementById("image-preview");
        imagePreview.innerHTML = "";
        var imageElement = document.createElement("img");
        imageElement.src = URL.createObjectURL(event.target.files[0]);
        imagePreview.appendChild(imageElement);
    }
</script>

<style>
    .containerx {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 0 20px;
        max-width: 30vw;
        width: 100%;
        margin: 0 auto;
        border-radius: 15px;
        margin-top: 10%;
    }

    h2.page-title {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 0;
        color: #333;
        font-family: Inter;
    }

    .input-field:first-of-type {
        margin-top: 30px;
    }

    .input-field {
        margin-top: 10px;
        font-family: Inter;
        font-size: 16px;
    }

    .button {
        width: 100%;
        margin: 10px 0 15px 0;
        padding: 10px 20px;
        background-color: #1976d2;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .button:hover {
            background-color: #1976d2;
        }

    #class-name:focus {
        outline: none;
        box-shadow: 0 0 0 1.5px #1976d2;
    }

    .switch {
        float: right;
        position: relative;
        width: 35px;
        height: 20px;
        margin-top: 1px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 2.5px;
            bottom: 2.5px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }

    input:checked + .slider {
        background-color: #2196f3;
    }

        input:checked + .slider:before {
            transform: translateX(15px);
        }

    .slider.round {
        border-radius: 20px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .switch-label {
        font-size: 0;
    }

    .image-container {
        width: 100%;
        height: 150px;
        border: 1px solid lightgray;
        border-radius: 5px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

        .image-container img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .select-image-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: lightgray;
        cursor: pointer;
    }

    .image-container input[type="file"] {
        display: none;
    }

</style>