﻿@using System.Security.Claims
@* 
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" /> *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        .upload-button {
            width: 100%;
            aspect-ratio: 21/9;
            border: 2px dashed #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

            .upload-button:hover {
                background-color: #f8f8f8;
            }

            .upload-button input[type="file"] {
                display: none;
            }

        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
            margin-bottom: 10px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
            border-radius: 20px;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 14px;
                width: 14px;
                left: 3px;
                bottom: 3px;
                background-color: white;
                transition: 0.4s;
                border-radius: 50%;
            }

        input:checked + .slider {
            background-color: #2196f3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
            transform: translateX(20px);
        }

        .captcha-input {
            display: none;
        }

        .form-check {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .form-check-label {
            flex: 1;
            margin-left: 10px;
        }

        .create-class {
            display: flex;
            align-items: flex-start;
            gap: 50px;
        }

            .create-class .left {
                width: 60% !important;
            }

            .create-class .right {
                width: 40% !important;
            }

    .containerCreate{
        margin-top : 35px !important;
        width : calc((100%/0.67) - 270px);
    }
    </style>


<div class="containerCreate">
    <p id="accountId" hidden="true" >@User.FindFirst(ClaimTypes.Sid)?.Value</p>
        <h1>Tạo lớp học</h1>
        <form class="create-class" >
            <div class="left">
                <div class="mb-3">
                    <label for="className" class="form-label">Tên lớp học:</label>
                    <input type="text"
                           class="form-control"
                           id="className"
                           placeholder="Nhập tên lớp học" />
                </div>

                <div class="mb-3">
                    <label for="classDescription" class="form-label">Mô tả lớp học:</label>
                    <textarea class="form-control"
                              id="classDescription"
                              placeholder="Nhập mô tả lớp học"
                              style="height: 100px; resize: none"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ảnh lớp học:</label>
                    <div class="upload-button"
                         onclick="triggerFileInput()"
                         id="imagePreview"></div>
                    <input type="file"
                           class="form-control"
                           id="classImage"
                           accept="image/*"
                           onchange="previewImage(event)" />
                </div>
            </div>

            <div class="right">
                <a onclick="addClass()"
                        class="btn btn-primary"
                        style="width: 100%; margin-bottom: 25px">
                    Tạo lớp
                </a>
                <div class="form-check mb-3" style="padding-left: 0px">
                    <label class="form-check-label" style="margin-left: 0">Bật mã bảo vệ:</label>
                    <label class="switch">
                        <input type="checkbox" id="captchaSwitch" />
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="form-group mb-3 captcha-input">
                    <input type="text"
                           class="form-control"
                           id="captchaCode"
                           placeholder="Nhập mã bảo vệ" />
                </div>
                <div class="form-check mb-3" style="padding-left: 0px">
                    <label class="form-check-label" style="margin-left: 0">Phê duyệt học sinh:</label>
                    <label class="switch">
                        <input type="checkbox" id="approvalSwitch" />
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </form>
    </div>

    <script>
        $("#captchaSwitch").click(function () {
            $(".captcha-input").slideToggle();
        });
        function triggerFileInput() {
            document.getElementById("classImage").click();
        }

        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var imagePreview = document.getElementById("imagePreview");
                imagePreview.style.backgroundImage = "url(" + reader.result + ")";
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        function toggleCaptcha() {
            var captchaInput = document.querySelector(".captcha-input");
            var captchaSwitch = document.getElementById("captchaSwitch");

            if (captchaSwitch.checked) {
                captchaInput.style.display = "block";
            } else {
                captchaInput.style.display = "none";
            }
        }
        window.addEventListener("DOMContentLoaded", function () {
            document.getElementById("classImage").style.display = "none";
        });

    function addClass() {
        var className = document.getElementById("className").value;
        var enrollApprove = document.getElementById("approvalSwitch").checked;
        var accountSid = document.getElementById("accountId").textContent;
        var classImage = document.getElementById("classImage").files[0];
        console.log(classImage);
        var data = {
            name: className,
            enrollApprove: enrollApprove,
            classPicture: className,
            accountId: accountSid
        };
        

      
        fetch("http://localhost:9999/api/Class/CreateClass", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    console.log("Class added successfully.");
                    // window.location.href = 'http://localhost:8888/Class/ListClass';
                  
                } else {
                    console.error("Failed to add class.");
                   
                }
            })
            .catch(error => {
                console.error("Failed to add class. Error: ", error);
               
            });

    }
    </script>


