﻿<div class="popup-over">
    <div class="child-over">
        <div class="content d-flex f-al-center f-jt-center f-dir-c">
            <h6 class="main-text">Tham gia lớp bằng mã lớp</h6>
            <div class="sub-text">
                Mã lớp gồm 5 ký tự, được giáo viên lớp đó cung cấp
            </div>
            <div class="class-code d-flex f-al-center f-jt-center">
                <div class="relative">
                    <input type="text" class="input-code" />
                    <div class="d-flex f-al-center f-jt-center">
                        <div class="each-word">
                            <h4 class="w-d d-flex f-al-center f-jt-center"></h4>
                        </div>
                        <div class="each-word">
                            <h4 class="w-d d-flex f-al-center f-jt-center"></h4>
                        </div>
                        <div class="each-word">
                            <h4 class="w-d d-flex f-al-center f-jt-center"></h4>
                        </div>
                        <div class="each-word">
                            <h4 class="w-d d-flex f-al-center f-jt-center"></h4>
                        </div>
                        <div class="each-word">
                            <h4 class="w-d d-flex f-al-center f-jt-center"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-submit d-flex f-al-center f-jt-center pointer">
                Tìm lớp
            </div>
            <div class="note-text">*Lưu ý: Chỉ nhập các ký tự không dấu</div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("keydown", function (event) {
        var eachWords = document.getElementsByClassName("each-word");
        var inputCode = document.querySelector(".input-code");

        // Lấy phần tử "each-word" đang được chỉnh sửa
        var activeWord = document.querySelector(".each-word.active");

        // Kiểm tra xem toàn bộ các phần tử "each-word" đã có văn bản hay chưa
        var allWordsFilled = Array.from(eachWords).every(function (word) {
            return word.querySelector("h4").textContent.trim() !== "";
        });

        var anyWord = Array.from(eachWords).some(function (word) {
            return word.querySelector("h4").textContent.trim() === "";
        });

        var keyPressed = event.key;

        if (keyPressed === "Backspace") {
            if (!activeWord && !anyWord) {
                activeWord = eachWords[eachWords.length - 1];
                activeWord.classList.add("active");
            }

            if (activeWord) {
                var prevWord = activeWord.previousElementSibling;

                if (prevWord) {
                    var afterWord = prevWord.nextElementSibling;
                }
            }

            // Nếu không có phần tử nào có văn bản, không thực hiện việc chuyển đến phần tử tiếp theo
            if (!allWordsFilled) {
                // Tìm phần tử "each-word" trước đó và đặt nó làm phần tử đang được chỉnh sửa
                if (prevWord && prevWord.classList.contains("each-word")) {
                    prevWord.querySelector("h4").textContent = "";
                    prevWord.classList.add("active");
                    if (afterWord) {
                        afterWord.classList.remove("active");
                    }
                }
            } else {
                if (activeWord) {
                    activeWord.querySelector("h4").textContent = "";
                }
            }
        }

        if (!allWordsFilled) {
            // Nếu không có phần tử "each-word" đang được chỉnh sửa,
            // chọn phần tử đầu tiên làm phần tử đang được chỉnh sửa
            if (!activeWord) {
                activeWord = eachWords[0];
                activeWord.classList.add("active");
            }

            // Kiểm tra nếu phím gõ là ký tự từ a đến z
            if (/^[a-z]$/i.test(keyPressed)) {
                // Thêm ký tự vừa được gõ vào phần tử đang được chỉnh sửa
                activeWord.querySelector("h4").textContent = keyPressed.toUpperCase();
                activeWord.classList.remove("active");

                // Nếu toàn bộ các phần tử "each-word" đã có văn bản, ngăn không cho việc thêm văn bản tiếp theo
                if (allWordsFilled) {
                    return;
                }

                // Tìm phần tử "each-word" tiếp theo và đặt nó làm phần tử đang được chỉnh sửa
                var nextWord = activeWord.nextElementSibling;
                if (nextWord && nextWord.classList.contains("each-word")) {
                    nextWord.classList.add("active");
                }
            }

            // Cập nhật giá trị của trường nhập liệu
            var inputValue = "";

            for (var i = 0; i < eachWords.length; i++) {
                var word = eachWords[i].querySelector("h4");
                var text = word.innerText || word.textContent;
                inputValue += text.trim();
            }

            inputCode.value = inputValue;
        }
    });
</script>
<style>
    .btn-submit {
        color: #ffffff;
        height: 45px;
        display: flex;
        padding: 16px;
        box-shadow: 0px 5px 12px rgba(78, 82, 95, 0.15);
        align-items: center;
        margin-top: 15px;
        border-radius: 8px;
        background-color: #4caf50;
        width: 84%;
    }

        .btn-submit:hover {
            background-color: #1565c0;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            text-decoration: none;
        }

        .btn-submit:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: #1976d2;
        }

    .pointer {
        cursor: pointer;
    }

    .class-code {
        margin: 30px 0px;
    }

    .note-text {
        font-style: italic;
        margin-top: 15px;
    }

    .w-d {
        color: rgb(32, 34, 39);
        margin: 0px;
        font-weight: 400;
        font-size: 2.125rem;
        line-height: 1.235;
    }

    .each-word {
        border-bottom: 1px solid rgb(163, 167, 180);
        padding: 7.5px 8px;
        height: 58px;
        width: 40px;
        margin: 0px 8px;
    }

    .input-code {
        opacity: 0;
        z-index: 10;
        inset: 0px;
        position: absolute;
    }

    .relative {
        position: relative;
    }

    .absolute {
        position: absolute;
    }

    .popup-over {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(168 168 168 / 80%); z-index: 4;
    }

    .child-over {
        position: absolute;
        width: 600px;
        min-height: 360px;
        background-color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 25px;
    }

    .content {
        padding: 32px;
        background: rgb(255, 255, 255);
        border-radius: 16px;
    }

    .d-flex {
        display: flex;
    }

    .f-al-center {
        align-items: center;
    }

    .f-jt-center {
        justify-content: center;
    }

    .f-dir-c {
        flex-direction: column;
    }

    .main-text {
        font-size: 1.25rem;
        margin: 10px 0px;
    }

    .sub-text {
        color: rgb(78, 82, 95);
        font-size: 1rem;
        margin: 10px 0px;
    }
</style>
