﻿@using System.Security.Claims
@* <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> *@
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>


    h1 {
        margin-bottom: 20px;
    }

    .table {
        width: 100%;
    }

        .table th,
        .table td {
            text-align: center;
            vertical-align: middle;
            border: 0;
            position: relative;
        }

            .table th:first-child {
                text-align: left;
            }

    .class-image {
        width: 150px;
        height: 60px;
        object-fit: cover;
        border-radius: 4px;
    }

    .action-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .mini-window {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        top: 0 !important;
        left: -97px !important;
        transform: translateX(20%);
        z-index: 999;
    }

        .mini-window.active {
            display: block;
        }

        .mini-window button {
            display: block;
            margin-bottom: 5px;
        }

        .mini-window .btn-danger,
        .mini-window .btn-primary {
            padding: 5px 10px;
            font-size: 14px;
        }

    .hidden {
        display: none;
    }


    table {
        width: 100%;
    }

        table tr:hover td {
            background-color: #e3f2fd;
        }

        table tr .table-header {
            background-color: rgb(239, 239, 245);
            border: none;
        }

        table tr{
           cursor : pointer;
        }

    .action-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .mini-window {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        top: 0;
        left: 110%;
        transform: translateX(20%);
        z-index: 999;
    }

        .mini-window button {
            display: block;
            margin-bottom: 5px;
        }

        .mini-window .btn-danger,
        .mini-window .btn-primary {
            padding: 5px 10px;
            font-size: 14px;
        }

    .search-filter {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

        .search-filter input[type="text"] {
            flex: 3;
            height: 35px;
            margin-right: 10px;
            border-radius: 5px;
            padding: 10px;
            border: 1px solid darkgray !important;
            font-size: 13px;
        }

            .search-filter input[type="text"]::placeholder {
                color: darkgray;
            }
        /* .search-filter input[type="text"]:focus, */
        /* .search-filter input[type="text"]:valid {
                                            border: 1px solid blue !important;
                                          } */

        .search-filter select {
            flex: 0;
            height: 35px;
            margin-right: 10px;
            border-radius: 5px;
            font-size: 13px;
        }

        .search-filter button {
            flex: 0;
            height: 35px;
            white-space: nowrap;
            border-radius: 5px;
            font-size: 13px;
        }

    .table-header {
        font-family: "Arial", sans-serif;
        font-size: 14px;
    }

    .table-data {
        font-family: "Arial", sans-serif;
        font-size: 14px;
    }

    .containerX {
        /*width: calc((100%/0.67) );*/
        margin-top: 25px;
    }

    .table thead tr th {
        padding: 10px 15px;
    }

    .table tbody tr td {
        padding: 10px 15px;
    }
</style>


<div class="containerX">
    <p id="accountId" hidden="true">@User.FindFirst(ClaimTypes.Sid)?.Value</p>
    <p id="accountName" hidden="true">@User.FindFirst(ClaimTypes.Name)?.Value</p>
    <h1>Danh sách lớp học</h1>
    <div class="search-filter">
        <input type="text" placeholder="Tìm kiếm..." />
        <select style="padding-left: 5px">
            <option value="az">Theo tên A-Z</option>
            <option value="za">Theo tên Z-A</option>
            <option value="newest">Mới nhất</option>
            <option value="oldest">Cũ nhất</option>
        </select>
        <button class="btn btn-primary" onclick="redirectToCreateClass()">Tạo lớp học</button>
    </div>
    <table class="table" id="table">
        <thead>
            <tr>
                <th class="table-header">Tên lớp</th>
                <th class="table-header">Học sinh</th>
                <th class="table-header">Bài tập</th>
                <th class="table-header">Action</th>
            </tr>
        </thead>
        <tbody id="bodyTable" >

        </tbody>
    </table>
</div>



<script>
    function redirectToCreateClass() {
        window.location.href = "http://localhost:8888/Class/CreateClass";
    }

    function fetchCustomerData() {
        var accountSId = document.getElementById("accountId").textContent;
        var accountName = document.getElementById("accountName").textContent;
        localStorage.setItem('_accountId', accountSId);
        localStorage.setItem('_accountName', accountName);
        var url = `http://localhost:9999/api/Class/ListClass?accountId=${accountSId}`;
        fetch(url)
            .then((response) => response.json())
            .then((data) => {
                customerData = data;
                fillCustomerTable();
            });
    }

    function fillCustomerTable() {
        var tableBody = document.getElementById("bodyTable");
        customerData.forEach((item) => {
            var row = document.createElement("tr");

            // Thêm một biến để lưu trạng thái của mini-window
            var miniWindowVisible = false;

            row.onclick = function (event) {
                // Kiểm tra xem mini-window có đang hiển thị hay không
                if (!miniWindowVisible) {
                    goToClass(item.classId);
                } else {
                    event.stopPropagation();
                }
            };

            row.innerHTML = `
          <td style="width: 500px">
            <div class="d-flex align-items-center">
              <img src="" alt="Ảnh lớp học" class="class-image" />
              <div style="margin-left: 20px">
                <span class="table-data">${item.name}<br />
                  <small>${item.code}</small>
                </span>
              </div>
            </div>
          </td>
          <td class="table-data">${item.studentCount}</td>
          <td class="table-data">${item.testCount}</td>
          <td>
            <button class="action-btn w-25" onclick="toggleMiniWindow(event, this)">
              <i class="fas fa-ellipsis-v" ></i>
            </button>
            <div class="d-none mini-window" onclick="stopPropagation(event)">
              <button class="btn btn-primary">
                <i class="fas fa-trash"></i> Chỉnh sửa
              </button>
              <button class="btn btn-danger">
                <i class="fas fa-edit"></i> Xóa lớp
              </button>
            </div>
          </td>
        `;
            tableBody.appendChild(row);
        });
    }

    // Thêm hàm toggleMiniWindow để bật/tắt mini-window
    function toggleMiniWindow(event, e) {
        event.stopPropagation();
        var button = event.currentTarget;
        var miniWindow = $(button).siblings().eq(0);
        $('.mini-window').each(function(index, item){
            if(!$(item).is(miniWindow)){
                $(item).addClass('d-none')
            }
        });     
        if ($(e).siblings().hasClass('d-none')) {
            
            miniWindow.removeClass('d-none');
        } else {
            miniWindow.addClass('d-none');
        }

        

        // Cập nhật trạng thái của mini-window
        miniWindowVisible = !miniWindowVisible;
    }

    function stopPropagation(event) {
        event.stopPropagation();
    }

    document.addEventListener("DOMContentLoaded", fetchCustomerData);

   
    document.addEventListener("DOMContentLoaded", fetchCustomerData);

    function goToClass(classId) {
        window.location.href = "http://localhost:8888/Class/" + classId + "/Post";
    }
</script>

<style>
    .btn-submit {
        color: #ffffff;
        height: 45px;
        display: flex;
        padding: 16px;
        box-shadow: 0px 5px 12px rgba(78, 82, 95, 0.15);
        align-items: center;
        margin-top: 15px;
        border-radius: 8px;
        background-color: #2479ce;
        width: 84%;
    }

        .btn-submit:hover {
            background-color: #1565c0;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            text-decoration: none;
        }

        .btn-submit:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: #1976d2;
        }

    .pointer {
        cursor: pointer;
    }

    .class-code {
        margin: 30px 0px;
    }

    .note-text {
        font-style: italic;
        margin-top: 15px;
    }

    .w-d {
        color: rgb(32, 34, 39);
        margin: 0px;
        font-weight: 400;
        font-size: 2.125rem;
        line-height: 1.235;
    }

    .each-word {
        border-bottom: 1px solid rgb(163, 167, 180);
        padding: 7.5px 8px;
        height: 58px;
        width: 40px;
        margin: 0px 8px;
    }

    .input-code {
        opacity: 0;
        z-index: 10;
        inset: 0px;
        position: absolute;
    }

    .relative {
        position: relative;
    }

    .absolute {
        position: absolute;
    }

    .popup-over {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(168 168 168 / 80%);
        z-index: 1000000;
    }

    .child-over {
        position: absolute;
        width: 600px;
        min-height: 360px;
        background-color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 25px;
    }

    .content {
        padding: 32px;
        background: rgb(255, 255, 255);
        border-radius: 16px;
    }

    .d-flex {
        display: flex;
    }

    .f-al-center {
        align-items: center;
    }

    .f-jt-center {
        justify-content: center;
    }

    .f-dir-c {
        flex-direction: column;
    }

    .main-text {
        font-size: 1.25rem;
        margin: 10px 0px;
    }

    .sub-text {
        color: rgb(78, 82, 95);
        font-size: 1rem;
        margin: 10px 0px;
    }
</style>
