﻿@using System.Security.Claims
@* <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> *@
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>


    h1 {
        margin-bottom: 20px;
    }

    .table {
        width: 100%;
    }

        .table th,
        .table td {
            text-align: center;
            vertical-align: middle;
            border: 0;
            position: relative;
        }

            .table th:first-child {
                text-align: left;
            }

    .class-image {
        width: 150px;
        height: 60px;
        object-fit: cover;
        border-radius: 4px;
    }

    .action-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .mini-window {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        top: 0 !important;
        left: -97px !important;
        transform: translateX(20%);
        z-index: 999;
    }

        .mini-window.active {
            display: block;
        }

        .mini-window button {
            display: block;
            margin-bottom: 5px;
        }

        .mini-window .btn-danger,
        .mini-window .btn-primary {
            padding: 5px 10px;
            font-size: 14px;
        }

    .hidden {
        display: none;
    }


    table {
        width: 100%;
    }

        table tr:hover td {
            background-color: #e3f2fd;
        }

        table tr .table-header {
            background-color: rgb(239, 239, 245);
            border: none;
        }

        table tr {
            cursor: pointer;
        }

    .action-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .mini-window {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        top: 0;
        left: 110%;
        transform: translateX(20%);
        z-index: 999;
    }

        .mini-window button {
            display: block;
            margin-bottom: 5px;
        }

        .mini-window .btn-danger,
        .mini-window .btn-primary {
            padding: 5px 10px;
            font-size: 14px;
        }

    .search-filter {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

        .search-filter input[type="text"] {
            flex: 3;
            height: 35px;
            margin-right: 10px;
            border-radius: 5px;
            padding: 10px;
            border: 1px solid darkgray !important;
            font-size: 13px;
        }

            .search-filter input[type="text"]::placeholder {
                color: darkgray;
            }
        /* .search-filter input[type="text"]:focus, */
        /* .search-filter input[type="text"]:valid {
                                                border: 1px solid blue !important;
                                              } */

        .search-filter select {
            flex: 0;
            height: 35px;
            margin-right: 10px;
            border-radius: 5px;
            font-size: 13px;
        }

        .search-filter button {
            flex: 0;
            height: 35px;
            white-space: nowrap;
            border-radius: 5px;
            font-size: 13px;
        }

    .table-header {
        font-family: "Arial", sans-serif;
        font-size: 14px;
    }

    .table-data {
        font-family: "Arial", sans-serif;
        font-size: 14px;
    }

    .containerX {
        /*width: calc((100%/0.67) );*/
        margin-top: 25px;
    }

    .table thead tr th {
        padding: 10px 15px;
    }

    .table tbody tr td {
        padding: 10px 15px;
    }
</style>


<div class="containerX">
    <p id="accountId" hidden="true">@User.FindFirst(ClaimTypes.Sid)?.Value</p>
    <p id="accountName" hidden="true">@User.FindFirst(ClaimTypes.Name)?.Value</p>
    <h1>Danh sách lớp học</h1>
    <div class="search-filter">
        <input type="text" placeholder="Tìm kiếm..." />
        <select style="padding-left: 5px">
            <option value="az">Theo tên A-Z</option>
            <option value="za">Theo tên Z-A</option>
            <option value="newest">Mới nhất</option>
            <option value="oldest">Cũ nhất</option>
        </select>
        <button class="btn btn-primary" onclick="openPopupJoinClass()">Tìm lớp học</button>
    </div>
    <table class="table" id="table">
        <thead>
            <tr>
                <th class="table-header">Tên lớp</th>
                <th class="table-header">Học sinh</th>
                <th class="table-header">Bài tập</th>
                <th class="table-header">Action</th>
            </tr>
        </thead>
        <tbody id="bodyTable">
        </tbody>
    </table>
</div>

    <div class="popup-over" id="popup-over" style="display: none">
        <div class="child-over">
            <div class="content d-flex f-al-center f-jt-center f-dir-c">
                <h6 class="main-text">Tham gia lớp bằng mã lớp</h6>
                <div class="sub-text">
                    Mã lớp gồm 5 ký tự, được giáo viên lớp đó cung cấp
                </div>
                <div class="class-code d-flex f-al-center f-jt-center">
                    <div class="relative">
                        <input type="text" class="input-code" />
                        <div class="d-flex f-al-center f-jt-center">
                            <div class="each-word">
                                <h4 class="w-d d-flex f-al-center f-jt-center"></h4>
                            </div>
                            <div class="each-word">
                                <h4 class="w-d d-flex f-al-center f-jt-center"></h4>
                            </div>
                            <div class="each-word">
                                <h4 class="w-d d-flex f-al-center f-jt-center"></h4>
                            </div>
                            <div class="each-word">
                                <h4 class="w-d d-flex f-al-center f-jt-center"></h4>
                            </div>
                            <div class="each-word">
                                <h4 class="w-d d-flex f-al-center f-jt-center"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            <div onclick="joinClass('@User.FindFirst(ClaimTypes.Sid)?.Value')" class="btn-submit d-flex f-al-center f-jt-center pointer">
                    Tham gia lớp
                </div>
                <div class="note-text">*Lưu ý: Chỉ nhập các ký tự không dấu</div>
            </div>
        </div>
    </div>
<p id="accountId" hidden="true">@User.FindFirst(ClaimTypes.Sid)?.Value</p>
<p id="accountName" hidden="true">@User.FindFirst(ClaimTypes.Name)?.Value</p>

<script>
      function fetchCustomerData() {
        var accountSId = document.getElementById("accountId").textContent;
        var accountName = document.getElementById("accountName").textContent;
        localStorage.setItem('_accountId', accountSId);
        localStorage.setItem('_accountName', accountName);
        var url = `http://localhost:9999/api/Class/ListClassStudent?accountId=${accountSId}`;
        fetch(url)
            .then((response) => response.json())
            .then((data) => {
                customerData = data;
                fillCustomerTable();
            });
    }
    function fillCustomerTable() {
        var tableBody = document.getElementById("bodyTable");
        customerData.forEach((item) => {
            var row = document.createElement("tr");

            // Thêm một biến để lưu trạng thái của mini-window
            var miniWindowVisible = false;

            row.onclick = function (event) {
                // Kiểm tra xem mini-window có đang hiển thị hay không
                if (!miniWindowVisible) {
                    goToClass(item.classId);
                } else {
                    event.stopPropagation();
                }
            };

            row.innerHTML = `
              <td style="width: 500px">
                <div class="d-flex align-items-center">
                  <img src="" alt="Ảnh lớp học" class="class-image" />
                  <div style="margin-left: 20px">
                    <span class="table-data">${item.name}<br />
                      <small>${item.code}</small>
                    </span>
                  </div>
                </div>
              </td>
              <td class="table-data">${item.studentCount}</td>
              <td class="table-data">${item.testCount}</td>
              <td>
                <button class="action-btn w-25" onclick="toggleMiniWindow(event, this)">
                  <i class="fas fa-ellipsis-v" ></i>
                </button>
                <div class="d-none mini-window" onclick="stopPropagation(event)">
                  <button class="btn btn-primary">
                    <i class="fas fa-trash"></i> Vào lớp
                  </button>
                  <button class="btn btn-danger">
                    <i class="fas fa-edit"></i> Rời lớp
                  </button>
                </div>
              </td>
            `;
            tableBody.appendChild(row);
        });
    }
    function toggleMiniWindow(event, e) {
        event.stopPropagation();
        var button = event.currentTarget;
        var miniWindow = $(button).siblings().eq(0);
        $('.mini-window').each(function (index, item) {
            if (!$(item).is(miniWindow)) {
                $(item).addClass('d-none')
            }
        });
        if ($(e).siblings().hasClass('d-none')) {

            miniWindow.removeClass('d-none');
        } else {
            miniWindow.addClass('d-none');
        }



        // Cập nhật trạng thái của mini-window
        miniWindowVisible = !miniWindowVisible;
    }

    function stopPropagation(event) {
        event.stopPropagation();
    }
    document.addEventListener("DOMContentLoaded", fetchCustomerData);
    function goToClass(classId) {
        window.location.href = "http://localhost:8888/Class/" + classId + "/Post";
    }
    async function joinClass(accountID) {
        var inputCode = document.querySelector(".input-code");
        if (inputCode) {
            if(inputCode.value.length < 5) {
                Toastify({
                    text: "Mã lớp học phải có đầy đủ 5 ký tự",
                    duration: 2000,
                    close: true,
                    gravity: "top",
                    position: "default",
                    backgroundColor: "red",
                }).showToast();
            } else {
                try {
                    var eachWords = document.getElementsByClassName("each-word");
                    // Cập nhật giá trị của trường nhập liệu
                    var inputValue = "";

                    for (var i = 0; i < eachWords.length; i++) {
                        if (i <= 4) {
                            var word = eachWords[i].querySelector("h4");
                            var text = word.innerText || word.textContent;
                            inputValue += text.trim();
                        }
                    }

                    inputCode.value = inputValue;

                    const response = await fetch(`http://localhost:9999/api/Class/JoinClass?classCode=${inputCode.value}&accountId=${accountID}`);
                    if (response.ok) {
                        const data = await response.json();
                        var signShow = "red";
                        var redirectToClass = false;
                        // Handle the response data
                        if (data) {
                            switch (data.statusChecked) {
                                case 3:
                                    signShow = "green";
                                    break;
                                case 4:
                                    signShow = "green";
                                    redirectToClass = true;
                                    break;
                                default:
                                    signShow = "red";
                                    break;
                            }
                            Toastify({
                                text: data.message,
                                duration: 2000,
                                close: true,
                                gravity: "top",
                                position: "default",
                                backgroundColor: signShow,
                            }).showToast();

                            if(redirectToClass) {
                                // Constructing the target URL with the class code
                                var targetUrl = "http://localhost:8888/Class/Post/" + inputCode.value;

                                // Redirecting to the target URL
                                window.location.href = targetUrl;
                            }
                        }
                    }
                } catch (error) {
                    console.error("Error:", error);
                }
            }
        } 
    }

    function openPopupJoinClass() {
        var popup = document.getElementById("popup-over");
        popup.style.display = "block";
    }

    function closePopupJoinClass() {
        var popup = document.getElementById("popup-over");
        popup.style.display = "none";
    }

    var popupLayout = document.getElementById("popup-over");
    popupLayout.addEventListener("click", function (event) {
        var target = event.target;

        var childOver = document.querySelector(".child-over");

        // Check if the clicked element is outside the child-over class
        if (popupLayout.style.display == "block" && childOver && !childOver.contains(target)) {
            closePopupJoinClass();
        }

    });

   
</script>
<script>
    document.addEventListener("keydown", function (event) {
        var eachWords = document.getElementsByClassName("each-word");
        var inputCode = document.querySelector(".input-code");

        // Lấy phần tử "each-word" đang được chỉnh sửa
        var activeWord = document.querySelector(".each-word.active");

        // Kiểm tra xem toàn bộ các phần tử "each-word" đã có văn bản hay chưa
        var allWordsFilled = Array.from(eachWords).every(function (word) {
            return word.querySelector("h4").textContent.trim() !== "";
        });

        var anyWord = Array.from(eachWords).some(function (word) {
            return word.querySelector("h4").textContent.trim() === "";
        });

        var keyPressed = event.key;

        if (keyPressed === "Backspace") {
            if (!activeWord && !anyWord) {
                activeWord = eachWords[eachWords.length - 1];
                activeWord.classList.add("active");
            }

            if (activeWord) {
                var prevWord = activeWord.previousElementSibling;

                if (prevWord) {
                    var afterWord = prevWord.nextElementSibling;
                }
            }

            // Nếu không có phần tử nào có văn bản, không thực hiện việc chuyển đến phần tử tiếp theo
            if (!allWordsFilled) {
                // Tìm phần tử "each-word" trước đó và đặt nó làm phần tử đang được chỉnh sửa
                if (prevWord && prevWord.classList.contains("each-word")) {
                    prevWord.querySelector("h4").textContent = "";
                    prevWord.classList.add("active");
                    if (afterWord) {
                        afterWord.classList.remove("active");
                    }
                }
            } else {
                if (activeWord) {
                    activeWord.querySelector("h4").textContent = "";

                    var inputValue = "";

                    for (var i = 0; i < eachWords.length; i++) {
                        if (i <= 4) {
                            var word = eachWords[i].querySelector("h4");
                            var text = word.innerText || word.textContent;
                            inputValue += text.trim();
                        }
                    }

                    inputCode.value = inputValue;
                }
            }
        }else if (!allWordsFilled) {
            // Nếu không có phần tử "each-word" đang được chỉnh sửa,
            // chọn phần tử đầu tiên làm phần tử đang được chỉnh sửa
            if (!activeWord) {
                activeWord = eachWords[0];
                activeWord.classList.add("active");
            }

            // Kiểm tra nếu phím gõ là ký tự từ a đến z
            if (/^[a-zA-ZÀ-ÿĂăĐđÊêÔôƠơƯưẠ-ỹ0-9]$/.test(keyPressed) && !event.ctrlKey && !event.altKey) {
                // Thêm ký tự vừa được gõ vào phần tử đang được chỉnh sửa
                activeWord.querySelector("h4").textContent = keyPressed.toUpperCase();
                activeWord.classList.remove("active");

                // Nếu toàn bộ các phần tử "each-word" đã có văn bản, ngăn không cho việc thêm văn bản tiếp theo
                if (allWordsFilled) {
                    return;
                }

                // Tìm phần tử "each-word" tiếp theo và đặt nó làm phần tử đang được chỉnh sửa
                var nextWord = activeWord.nextElementSibling;
                if (nextWord && nextWord.classList.contains("each-word")) {
                    nextWord.classList.add("active");
                }
            }

            // Cập nhật giá trị của trường nhập liệu
            var inputValue = "";

            for (var i = 0; i < eachWords.length; i++) {
                if(i <= 4) {
                    var word = eachWords[i].querySelector("h4");
                    var text = word.innerText || word.textContent;
                    inputValue += text.trim();
                }
            }

            inputCode.value = inputValue;
        }
    });
</script>
<style>
    .btn-submit {
        color: #ffffff;
        height: 45px;
        display: flex;
        padding: 16px;
        box-shadow: 0px 5px 12px rgba(78, 82, 95, 0.15);
        align-items: center;
        margin-top: 15px;
        border-radius: 8px;
        background-color: #2479ce;
        width: 84%;
    }

        .btn-submit:hover {
            background-color: #1565c0;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            text-decoration: none;
        }

        .btn-submit:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: #1976d2;
        }

    .pointer {
        cursor: pointer;
    }

    .class-code {
        margin: 30px 0px;
    }

    .note-text {
        font-style: italic;
        margin-top: 15px;
    }

    .w-d {
        color: rgb(32, 34, 39);
        margin: 0px;
        font-weight: 400;
        font-size: 2.125rem;
        line-height: 1.235;
    }

    .each-word {
        border-bottom: 1px solid rgb(163, 167, 180);
        padding: 7.5px 8px;
        height: 58px;
        width: 40px;
        margin: 0px 8px;
    }

    .input-code {
        opacity: 0;
        z-index: 10;
        inset: 0px;
        position: absolute;
    }

    .relative {
        position: relative;
    }

    .absolute {
        position: absolute;
    }

    .popup-over {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(168 168 168 / 80%);
        z-index: 1000000;
    }

    .child-over {
        position: absolute;
        width: 600px;
        min-height: 360px;
        background-color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 25px;
    }

    .content {
        padding: 32px;
        background: rgb(255, 255, 255);
        border-radius: 16px;
    }

    .d-flex {
        display: flex;
    }

    .f-al-center {
        align-items: center;
    }

    .f-jt-center {
        justify-content: center;
    }

    .f-dir-c {
        flex-direction: column;
    }

    .main-text {
        font-size: 1.25rem;
        margin: 10px 0px;
    }

    .sub-text {
        color: rgb(78, 82, 95);
        font-size: 1rem;
        margin: 10px 0px;
    }
</style>
