﻿
 @*    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> *@
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <style>
        .delete-icon {
            color: red;
            cursor: pointer;
        }

        .nav-link.active {
            font-weight: bold;
        }
        .table tr {
            cursor: pointer;
        }

    .table tr td:first-child {
        display: none;
    }

        .table.active tr td:first-child {
            display: block
        }
        .table tr:hover td {
            background-color: #e3f2fd;

    }

    #normalTable .checkall {
        display: none;
    }
        table.table {
            border-collapse: initial;
            border-spacing: 0;
        }

            table.table td {
                border: none;
                padding: 0.75rem 0.75rem 0.75rem 0.75rem;
            }

            table.table th {
                padding: 0.5rem  0.5rem 0.5rem 0.75rem;
                border: none;
            background-color: rgb(239, 239, 245);
            }

    .table th:first-child {
                display: none;
            }

    .table.active th:first-child {
                display: block;
            }


        .nav-linkMember#normalTab,
        .nav-linkMember#checkboxTab {
            background-color: rgb(214, 213, 213); /* Màu nâu nhạt */
            border-radius: 10%; /* Bo tròn */
        }

            /* Màu nền khi tab được nhấp vào */
        .nav-linkMember#normalTab.active,
        .nav-linkMember#checkboxTab.active {
                background-color: #66adc5; /* Màu xanh blue nhạt */
            }

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 9px;
        }

        .checkbox-item {
            margin-right: 5px;
        }

        #selectedCount {
            font-weight: bold;
            margin-left: 10px;
        }

    .nav.nav-tabs{
        display : flex;
        align-items : stretch;
    }

    .containerMember{
        margin-top : 25px;
        width: calc((100%/0.67) - 270px);
    } 
    .nav-linkMember {
        padding: 0 !important;
        height: 37px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-itemMember {
        padding-right : 5px;
    
    }
    .nav-itemMember:last-child{
            width: calc(100% - 90px);
    }

    .searchInput{
        margin-right : 6px;
        width: 816px !important;
    }
    
        </style>

<body>
    <div class="containerMember ">
        <h3>Thành viên lớp học</h3>
        <ul class="nav nav-tabs" style="border: none ">
            <li class="nav-itemMember ">
                <a class="nav-linkMember active"
                   id="normalTab"
                   style="font-size: 9px; border-radius: 6px; margin-right: 5px">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="16"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" /></svg>
                </a>
            </li>
            <li class="nav-itemMember">
                <a class="nav-linkMember"
                   id="checkboxTab"
                   style="font-size: 9px; border-radius: 6px">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="16"><path d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" /></svg>
                </a>
            </li>
            <li class="nav-itemMember ml-auto">
                <div class="d-flex">
                    <input type="text"
                           class="form-control searchInput"
                           placeholder="Tìm kiếm..."
                           style="width: 765px; font-size: 14px" />
                    <button class="btn btn-success"
                            style="margin-right: 5px; font-size: 14px">
                        <i class="fas fa-file-excel"></i>
                    </button>
                    <button class="btn btn-primary mr-2" style="font-size: 14px">
                        Thêm học sinh
                    </button>
                </div>
            </li>
        </ul>
        <div class="tab-content mt-4">
            
            <div class="tab-pane fade show active" id="normalTable">
                <div class="checkall">
                    <div class="d-flex justify-content-between mb-2">
                        <div style="padding-left: 11px ; padding-top : 10px">
                            <input id="selectAllCheckbox" type="checkbox" />
                            <label for="selectAllCheckbox"></label>
                            <span id="selectedCount"
                                  style="margin: 0px 0px 4px 2px !important">0 selected</span>
                            <span id="selectedText"></span>
                        </div>
                        <button id="deleteSelected"
                                class="btn btn-danger ml-2"
                                style="font-size: 14px">
                            Delete Selected
                        </button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr style="background-color: rgb(242, 242, 242)">
                            <th></th>
                            <th>Họ và tên</th>
                            <th>SĐT</th>
                            <th>Trường</th>
                            <th>Bài đã làm</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @* <tr>
                            <td><input type="checkbox" class="checkbox-item" /></td>
                            <td>
                                <img src="https://thuthuatnhanh.com/wp-content/uploads/2021/02/Avatar-ngau-dep.jpg"
                                     class="avatar" />Nguyễn Văn A
                            </td>

                            <td>0123456789</td>
                            <td>Trường A</td>
                            <td>Bài A</td>
                            <td class="delete-icon">&#10006;</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="checkbox-item" /></td>
                            <td>
                                <img src="https://www.vietnamworks.com/hrinsider/wp-content/uploads/2023/12/anh-den-ngau.jpeg"
                                     class="avatar" />Trần Thị B
                            </td>

                            <td>0987654321</td>
                            <td>Trường B</td>
                            <td>Bài B</td>
                            <td class="delete-icon">&#10006;</td>
                        </tr> *@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0/js/bootstrap.min.js"></script>
    <script>
        var urlParams = new URLSearchParams(window.location.search);
        var classId = urlParams.get('classId');
        function fetchMemberData() {
            var url = `http://localhost:9999/api/Class/ListStudent?classId=${classId}`;
            fetch(url)
                .then((response) => response.json())
                .then((data) => {
                    memberData = data;
                    fillMemberTable();
                });
        }

        function fillMemberTable() {
            var tableBody = document.getElementById("bodyTable");
            memberData.forEach((item) => {
                var row = document.createElement("tr");
                row.innerHTML = `
                            <tr>
                                    <td><input type="checkbox" class="checkbox-item" /></td>
                                    <td>
                                        <img src=""
                                                     class="avatar" />${item.accountId}
                                    </td>

                                    <td>0123456789</td>
                                    <td>Trường A</td>
                                    <td>Bài A</td>
                                    <td class="delete-icon">&#10006;</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="checkbox-item" /></td>
                                    <td>
                                        <img src=""
                                             class="avatar" />${item.name}
                                    </td>

                                    <td>0987654321</td>
                                    <td>${item.school}</td>
                                    <td>Bài B</td>
                                    <td class="delete-icon">&#10006;</td>
                                </tr>
                `;
                tableBody.appendChild(row);
            });
        }

        document.addEventListener("DOMContentLoaded", fetchMemberData);


        $(document).ready(function () {
            // Xử lý khi click vào icon xóa
            $(document).on("click", ".delete-icon", function () {
                $(this).closest("tr").remove();
                updateSelectedCount();
            });

            // Xử lý khi click vào tab "Bình thường"
            $("#normalTab").click(function () {
                $("#checkboxTable").removeClass("show active");
                $("#normalTable .table").removeClass("active");

                $("#normalTable").addClass("show active");
                $("#normalTable .checkall").slideUp();
            });

            // Xử lýkhi click vào tab "Checkbox"
            $("#checkboxTab").click(function () {
                $("#normalTable").removeClass("show active");
                $("#checkboxTable").addClass("show active");
            });

            $("#checkboxTab").click(function () {
                $("#normalTable").addClass("show active");
                $("#normalTable .table").addClass("active");
                $("#normalTable .checkall").slideDown();

                //$("#checkboxTable").addClass("show active");



            });

            // Xử lý khi click vào checkbox
            $("input[type='checkbox']").change(function () {
                updateSelectedCount();
            });

            // Xử lý khi click vào checkbox "Select All"
            $("#selectAllCheckbox").change(function () {
                var isChecked = $(this).prop("checked");
                $("input[type='checkbox']")
                    .not("#selectAllCheckbox")
                    .prop("checked", isChecked);
                updateSelectedCount();
            });

            // Xử lý khi click vào nút "Delete Selected"
            $("#deleteSelected").click(function () {
                $("input[type='checkbox']:checked").closest("tr").remove();
                updateSelectedCount();
            });

            // Cập nhật số lượng checkbox đã chọn
            function updateSelectedCount() {
                var count = $("input[type='checkbox']:checked")
                    .not("#selectAllCheckbox")
                    .filter(function () {
                        return $(this).closest("tr").is(":visible");
                    }).length;
                $("#selectedCount").text(count + " selected");
            }
        });
        $(document).ready(function () {
            $(".nav-linkMember").click(function () {
                $(".nav-linkMember").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
</body>

