﻿@using System.Security.Claims;
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<div class="full-post">
    <div class="over-post">
        <div class="header-post pr-16">
            <div class="d-flex h-full f-al-center pr-16">Bảng tin</div>
        </div>
        <div class="body-post d-flex f-dir-c">
            <div class="body-content-post" style="height: 100%">
                <div class="up-post">
                    <div class="content-upload d-flex f-al-center ">
                        <div class="ava-post">
                            <img src="~/assets/12.jpg" class="ava-img" />
                        </div>
                        <div class="main-content-v2">
                            <div onclick="openPopupPost()" class="inside-content-v2 relative">
                                <div class="shape-content"></div>
                                <div class="text-phr">Nhập nội dụng bạn muốn thảo luận...</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="empty-content" class="empty-content">
                    <div class="improve-over w-full h-full">
                        <div class="improve-inside h-full w-full">
                            <div class="improve-pic">
                                <img src="https://sisapapp.misacdn.net/lms/img/icon_upload_file.d6a4bc04.svg" alt="" />
                            </div>
                            <div class="improve-text">
                                Bảng tin là nơi trao đổi các vấn đề trong lớp học
                            </div>
                            <div style="padding-bottom: 1.25rem;">
                                Hãy cùng nhau chia sẻ các vấn đề của bạn
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="scrollToTopBtn" hidden>Lên đầu trang</button>
</div>
<div id="popup-over" class="popup-over" style="display: none">
    <div class="child-over">
        <div class="content d-flex f-al-center f-jt-center f-dir-c">
            <h6 class="main-text">Tạo bài viết</h6>
            <div onclick="closePopupPost()" class="close-btn pointer">
                <img src="~/assets/close.png" class="wh-15" />
            </div>
            <div class="ver-line">
            </div>
            <div class="over-ava w-100">
                <div class="ava-post">
                    <img src="~/assets/12.jpg" class="ava-img" />
                </div>
                <div class="user-post d-flex f-dir-c">
                    <div>Nguyễn Đức Anh</div>
                </div>
            </div>
            <div class="w-100">
                <textarea id="post-textarea" oninput="autoResizeText()" class="post-textarea w-100"
                    placeholder="Bạn đang muốn thảo luận điều gì?"></textarea>
                <div style="display: none;" class="image-preview-container" id="image-preview-container"></div>
            </div>
            <div class="add-more-action d-flex w-100 f-al-center">
                <div class="text-more">
                    Thêm vào bài viết của bạn
                </div>
                <div class="upload-container">
                    <label for="image-upload" class="upload-label">
                        <img src="~/assets/photographer.png" class="wh-30" />
                    </label>
                    <input type="file" multiple id="image-upload" class="upload-input"
                        onchange="handleImageUpload(event)">
                </div>
            </div>
            <div onclick="createPost('@User.FindFirst(ClaimTypes.Sid)?.Value')" class="btn-submit d-flex f-al-center f-jt-center pointer">
               Đăng bài
            </div>
        </div>
    </div>
</div>
<p id="accountId" hidden="true">@User.FindFirst(ClaimTypes.Sid)?.Value</p>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        const url = window.location.href;
        const uuidPattern = /\/Class\/([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})\//;

        const match = url.match(uuidPattern);
        var classId = match[1];
        

        fetch('http://localhost:9999/api/Post/content?classId=' + classId, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(function (response) {
                if (response.ok) {
                    return response.json(); // Return the promise containing the JSON data
                } else {
                    throw new Error('Error: ' + response.status);
                }
            })
            .then(function (res) {
                res.forEach(post => {
                    // Create a new content div
                    var newContent = document.createElement('div');
                    newContent.className = 'content-post d-flex f-dir-c';

                    var currentTime = new Date();

                    // Lấy thời gian đăng bài post (ví dụ: 2024-03-11 10:30:00)
                    var postTime = new Date(post.createTime);

                    // Tính toán chênh lệch thời gian (tính theo milliseconds)
                    var timeDiff = currentTime - postTime;

                    var seconds = Math.floor(timeDiff / 1000);
                    var minutes = Math.floor(seconds / 60);
                    var hours = Math.floor(minutes / 60);
                    var days = Math.floor(hours / 24);
                    var displayTime;

                    if (days > 0) {
                        displayTime = days + " ngày trước";
                    } else if (hours > 0) {
                        displayTime = hours + " giờ trước";
                    } else if (minutes > 0) {
                        displayTime = minutes + " phút trước";
                    } else {
                        displayTime = seconds + " giây trước";
                    }
                    var countCmt = post.commentPostDTO.length;


                    // HTML content for the new content div
                    newContent.innerHTML = `
            <div class="header-content-post d-flex f-al-center">
                <!-- Header content here -->
                <div class="over-ava">
                    <div class="ava-post">
                        <img src="/assets/12.jpg" class="ava-img" />
                    </div>
                    <div class="user-post d-flex f-dir-c">
                            <div>${post.accountName}</div>
                        <span class="time-post">${displayTime}</span>
                    </div>
                </div>
                <div class="more-opt" onclick="openOptionMore(this)">
                    <img src="/assets/three-dot.png" class="three-dot" />
                    <div id="hidePost" class="opt-hide-post">
                       <div class="over-hidden-post" style="display: flex;justify-content: space-around;padding: 5px;align-items: center;">
                            <img src="/assets/hidden.png" style="width: 20px; height: 20px;" />
                           <div class="hidden-post">Ẩn bài viết</div> 
                       </div> 
                    </div>
                </div>
            </div>
            <div class="main-content-post">
                    ${post.content} <!-- Assuming 'Content' is the property containing the post text -->
                <div class="image-slider">
                    <!-- Slide images will be added here -->
                </div>
            </div>
            <div class="num-content-post d-flex f-al-center">
                <img class="hw-24" src="/assets/chat.png" alt="Description of the SVG image" />
                <div class="text-cmt">${countCmt } bình luận</div>
            </div>
            <div class="cmt-content-post">
                <div class="content-upload d-flex f-s">
                    <div class="ava-post-cmt">
                        <img src="/assets/12.jpg" class="ava-img" />
                    </div>
                    <div class="main-content-v2">
                        <div id="myOverTextarea" class="inside-content-cmt-v2 relative">
                            <textarea id="myTextarea"
                                      oninput="autoResize(this)"
                                      placeholder="Viết bình luận..."
                                              onkeydown="handleKeyDown(event, this, '${post.postId}')"
                                      class="myTextarea shape-content input-style"></textarea>
                                <div onclick="createCommentBlock(this, '${post.postId}')" class="icon-sent absolute">
                                <img src="/assets/send.png" class="ava-img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="comment-container" class="comment-container"></div>
        `;

                    // Find element with class 'body-content-post'
                    var bodyContentPostElement = document.querySelector('.body-content-post');

                    // Append new content block to 'body-content-post' element
                    bodyContentPostElement.appendChild(newContent);
                    post.commentPostDTO.forEach(cmt => {
                        var commentContainer = newContent.querySelector(`.comment-container`);
                        var textarea = newContent.querySelector('.myTextarea'); // Use querySelector within newContent

                        commentContainer.classList.add("over-all-cmt");
                        var newCommentBlock = document.createElement('div');
                        newCommentBlock.classList.add('cmt-upload', 'd-flex', 'f-al-center');

                        var avatarDiv = document.createElement('div');
                        avatarDiv.classList.add('ava-post-cmt');
                        var avatarImg = document.createElement('img');
                        avatarImg.src = '/assets/12.jpg';
                        avatarImg.classList.add('ava-img');
                        avatarDiv.appendChild(avatarImg);

                        var mainContentDiv = document.createElement('div');
                        mainContentDiv.classList.add('main-content-v2');

                        var insideContentDiv = document.createElement('div');
                        insideContentDiv.classList.add('inside-content-cmt-v1');

                        var commentDiv = document.createElement('div');
                        commentDiv.classList.add('d-flex', 'f-dir-c', 'pd-10-12');

                        var nameDiv = document.createElement('div');
                        nameDiv.classList.add('name-cmter');
                        nameDiv.innerText = cmt.accountName;

                        var contentDiv = document.createElement('div');
                        contentDiv.innerText = cmt.content;

                        commentDiv.appendChild(nameDiv);
                        commentDiv.appendChild(contentDiv);
                        insideContentDiv.appendChild(commentDiv);
                        mainContentDiv.appendChild(insideContentDiv);
                        newCommentBlock.appendChild(avatarDiv);
                        newCommentBlock.appendChild(mainContentDiv);
                        commentContainer.appendChild(newCommentBlock);
                        textarea.value = '';
                        textarea.style.height = "40px";
                    });

                    // Set currentIndex for this post to 0
                    currentIndexArray.push(0);

                    var imageSliderElement = newContent.querySelector('.image-slider');
                    if (post.resourcePostDTO && post.resourcePostDTO.length > 0) {
                        for (var i = 0; i < post.resourcePostDTO.length; i++) {
                            var itemResource = post.resourcePostDTO[i];
                            var base64String = itemResource.url; // Assuming 'res' is the response object containing the Base64 string
                            var imageContainer = document.createElement('div');
                            imageContainer.className = 'image-container';
                            // Create an img element
                            var imagePreview = document.createElement('img');

                            // Set the src attribute of the img element to the Base64 string
                    

                            imagePreview.className = 'uploaded-image';
                            imagePreview.src = 'data:image/png;base64,' + base64String;

                            if (i === 0) {
                                imagePreview.style.display = 'block';
                            } else {
                                imagePreview.style.display = 'none';
                            }
                            imageContainer.appendChild(imagePreview);

                            var backButton = document.createElement('div');
                            backButton.className = 'back-btn pointer wh-20px';
                            backButton.innerHTML = '<img src="/assets/back.png" class="wh-20px" onclick="prevImage(this,' + currentIndexArray.length + ')">';
                            imageContainer.appendChild(backButton);

                            var nextButton = document.createElement('div');
                            nextButton.className = 'next-btn pointer wh-20px';
                            nextButton.innerHTML = '<img src="/assets/next.png" class="wh-20px" onclick="nextImage(this,' + currentIndexArray.length + ')">';
                            imageContainer.appendChild(nextButton);

                            imageSliderElement.appendChild(imageContainer);
                            adjustImageSize(imagePreview);
                        }
                    }

            resetPost();
                });
            })
            .catch(function (error) {
                console.error(error);
            });
    });


    function autoResize(thisTextArea) {
        thisTextArea.style.height = "auto";
        thisTextArea.style.height = thisTextArea.scrollHeight - 26 + "px";

        // Kiểm tra nếu không còn văn bản trong textarea
        if (thisTextArea.value.trim() === "") {
            thisTextArea.style.height = "40px";
        }
    }

    function openOptionMore(thisDot) {
        var displayPost = thisDot.querySelector('#hidePost');
        if (getComputedStyle(displayPost).display == 'none') {
            displayPost.style.display = 'block';
        } else {
            displayPost.style.display = 'none'
        }
    }

    function fileToBase64(file, callback) {
        var reader = new FileReader();
        reader.onload = function (event) {
            var base64String = event.target.result;
            base64List.push(base64String); // Add Base64 string to the list
            if (typeof callback === 'function') {
                callback(base64String);
            }
        };
        reader.readAsDataURL(file);
    }

    var currentIndexArray = [];
    var base64List = [];
    var postIdEmpty = '';

    async function createPost(accountId) {
        var accName = localStorage.getItem('_accountName');

        if(!accName) {
            accName = 'Người dùng ẩn danh';
        }
        // Lấy văn bản từ textarea
        var postTextarea = document.getElementById('post-textarea');
        var postText = postTextarea.value;

        // Lấy các tệp ảnh đã tải lên
        var imageUpload = document.getElementById('image-upload');
        var imageFiles = imageUpload.files;

        if (imageFiles.length != 0 || postText) {
            // Tạo khối nội dung mới
            var newContent = document.createElement('div');
            newContent.className = 'content-post d-flex f-dir-c';
            newContent.innerHTML = `
                <div class="header-content-post d-flex f-al-center">
                    <!-- Header content here -->
                        <div class="over-ava">
                            <div class="ava-post">
                                <img src="/assets/12.jpg" class="ava-img" />
                            </div>
                            <div class="user-post d-flex f-dir-c">
                                    <div>${accName}</div>
                                <span class="time-post">Vừa xong</span>
                            </div>
                        </div>
                        <div class="more-opt">
                            <img src="/assets/three-dot.png" class="three-dot" />
                        </div>
                </div>
                <div class="main-content-post">
                    ${postText}
                    <div class="image-slider">
                        <!-- Slide images will be added here -->
                    </div>
                </div>
                <div class="num-content-post d-flex f-al-center">
                    <!-- Number of comments -->
                        <img class="hw-24" src="/assets/chat.png" alt="Description of the SVG image" />
                <div class="text-cmt">0 bình luận</div>
                </div>
                <div class="cmt-content-post">
                    <!-- Comment section -->
                        <div class="content-upload d-flex f-s">
                    <div class="ava-post-cmt">
                        <img src="/assets/12.jpg" class="ava-img" />
                    </div>
                    <div class="main-content-v2">
                        <div id="myOverTextarea" class="inside-content-cmt-v2 relative">
                            <textarea id="myTextarea"
                                      oninput="autoResize(this)"
                                      placeholder="Viết bình luận..."
                                          onkeydown="handleKeyDown(event, this)"
                                      class="myTextarea shape-content input-style"></textarea>
                                <div onclick="createCommentBlock(this)"  class="icon-sent absolute">
                                <img src="/assets/send.png" class="ava-img" />
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div id="comment-container" class="comment-container"></div>
            `;

            // Find element with class 'body-content-post'
            var bodyContentPostElement = document.querySelector('.body-content-post');
            const secondChild = bodyContentPostElement.children[1]
            // Append new content block to 'body-content-post' element
            //bodyContentPostElement.appendChild(newContent);
            bodyContentPostElement.insertBefore(newContent, secondChild.nextSibling);

            // Set currentIndex for this post to 0
            currentIndexArray.push(0);

            var currentUrl = window.location.href;

            const uuidPattern = /\/Class\/([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})\//;

            const match = currentUrl.match(uuidPattern);
            var classId = match[1];

            const formData = new FormData();
                formData.append('classId', classId);
                formData.append('accountId', accountId);
                formData.append('content', postText);

            // Display uploaded images in the content-post
            var imageSliderElement = newContent.querySelector('.image-slider');
            if (imageFiles && imageFiles.length > 0) {
                for (var i = 0; i < imageFiles.length; i++) {
                    var file = imageFiles[i];
                    //fileToBase64(file, function(base64String) {
                    //    console.log("Base64 string of the image: ", base64String);
                    //});
                    formData.append('listBase64', file);
                    var imageContainer = document.createElement('div');
                    imageContainer.className = 'image-container';

                    var imagePreview = document.createElement('img');
                    imagePreview.className = 'uploaded-image';
                    imagePreview.src = URL.createObjectURL(imageFiles[i]);
                    if (i === 0) {
                        imagePreview.style.display = 'block';
                    } else {
                        imagePreview.style.display = 'none';
                    }
                    imageContainer.appendChild(imagePreview);

                    var backButton = document.createElement('div');
                    backButton.className = 'back-btn pointer wh-20px';
                    backButton.innerHTML = '<img src="/assets/back.png" class="wh-20px" onclick="prevImage(this,' + currentIndexArray.length + ')">';
                    imageContainer.appendChild(backButton);

                    var nextButton = document.createElement('div');
                    nextButton.className = 'next-btn pointer wh-20px';
                    nextButton.innerHTML = '<img src="/assets/next.png" class="wh-20px" onclick="nextImage(this,' + currentIndexArray.length + ')">';
                    imageContainer.appendChild(nextButton);

                    imageSliderElement.appendChild(imageContainer);
                    adjustImageSize(imagePreview);
                }
            }

            resetPost();
            try {

                const response = await fetch(`http://localhost:9999/api/Post`, {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    const postId = await response.json();
                    postIdEmpty = postId;
                } else {
                    console.error('Failed to create post:', response.status);
                    // Handle the error response
                }
            } catch (error) {
                console.error('An error occurred:', error);
                // Handle any network or other errors
            }
        } else {
            Toastify({
                text: "Hãy nhập thông tin để đăng bài",
                duration: 1500,
                close: true,
                gravity: "top",
                position: "default",
                backgroundColor: "red",
            }).showToast();
        }
    }
    function handleKeyDown(event, textarea, postId) {
        if (!postId && postIdEmpty) {
            postId = postIdEmpty;
        }
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevent default Enter key behavior (new line)
            createCommentBlock(textarea.nextElementSibling, postId);
        }
    }


    function nextImage(btnNext, postIndex) {
        var parentAllPic = btnNext.closest('.image-slider');
        var parentPic = parentAllPic.querySelectorAll('.image-container');
        var currentIndex = currentIndexArray[postIndex - 1];
        var imageBefore = parentPic[currentIndex].querySelector('.uploaded-image');

        if (currentIndex < (parentPic.length - 1)) {
            imageBefore.style.display = 'none';
            currentIndex += 1;
            var imageNext = parentPic[currentIndex].querySelector('.uploaded-image');
            imageNext.style.display = 'block';
            currentIndexArray[postIndex - 1] = currentIndex;
        }
    }

    function prevImage(btnBack, postIndex) {
        var parentAllPic = btnBack.closest('.image-slider');
        var parentPic = parentAllPic.querySelectorAll('.image-container');
        var currentIndex = currentIndexArray[postIndex - 1];
        var imageBefore = parentPic[currentIndex].querySelector('.uploaded-image');

        if (currentIndex > 0) {
            imageBefore.style.display = 'none';
            currentIndex -= 1;
            var imageNext = parentPic[currentIndex].querySelector('.uploaded-image');
            imageNext.style.display = 'block';
            currentIndexArray[postIndex - 1] = currentIndex;
        }
    }


    function adjustImageSize(image) {

        image.parentElement.style.overflow = 'hidden';
    }

    function resetPost(image) {
        var postTextarea = document.getElementById('post-textarea');
        var emptyContent = document.getElementById('empty-content');
        emptyContent.style.display = "none";
        var popup = document.getElementById("popup-over");
        postTextarea.value = "";
        popup.style.display = "none";

        var imagePreviewContainer = document.getElementById('image-preview-container');
        imagePreviewContainer.innerHTML = '';
        imagePreviewContainer.style.display = "none";
    }



    async function createCommentBlock(buttonElement, postId) {
        var postElement = buttonElement.closest('.content-post');
        var commentContainer = postElement.querySelector('.comment-container');
        var textarea = postElement.querySelector('.myTextarea');

        commentContainer.classList.add("over-all-cmt");
        var newCommentBlock = document.createElement('div');
        newCommentBlock.classList.add('cmt-upload', 'd-flex', 'f-al-center');

        var avatarDiv = document.createElement('div');
        avatarDiv.classList.add('ava-post-cmt');
        var avatarImg = document.createElement('img');
        avatarImg.src = '/assets/12.jpg';
        avatarImg.classList.add('ava-img');
        avatarDiv.appendChild(avatarImg);
        var accName = localStorage.getItem('_accountName');

        var mainContentDiv = document.createElement('div');
        mainContentDiv.classList.add('main-content-v2');

        var insideContentDiv = document.createElement('div');
        insideContentDiv.classList.add('inside-content-cmt-v1');

        var commentDiv = document.createElement('div');
        commentDiv.classList.add('d-flex', 'f-dir-c', 'pd-10-12');

        var nameDiv = document.createElement('div');
        nameDiv.classList.add('name-cmter');
        nameDiv.innerText = accName;

        var contentDiv = document.createElement('div');
        contentDiv.innerText = textarea.value;

        var accId = localStorage.getItem('_accountId');
        if(!postId) {
            postId = postIdEmpty;
        }
        const formData = new FormData();
        formData.append('postId', postId);
        formData.append('accountId', accId);
        formData.append('content', textarea.value);

        commentDiv.appendChild(nameDiv);
        commentDiv.appendChild(contentDiv);
        insideContentDiv.appendChild(commentDiv);
        mainContentDiv.appendChild(insideContentDiv);
        newCommentBlock.appendChild(avatarDiv);
        newCommentBlock.appendChild(mainContentDiv);

        commentContainer.insertBefore(newCommentBlock, commentContainer.firstChild);

        textarea.value = '';
        textarea.style.height = "40px"; 

        try {
            const response = await fetch(`http://localhost:9999/api/Comment`, {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const success = await response.json();
                console.log(success);
            } else {
                console.error('Failed to create post:', response.status);
                // Handle the error response
            }
        } catch (error) {
            console.error('An error occurred:', error);
            // Handle any network or other errors
        }
    }

    function handleImageUpload(event) {
        var files = event.target.files;
        var imagePreviewContainer = document.getElementById('image-preview-container');
        imagePreviewContainer.innerHTML = '';
        imagePreviewContainer.style.display = 'block';

        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();

            reader.onload = (function (file) {
                return function (e) {
                    var image = document.createElement('img');
                    image.src = e.target.result;

                    var imageContainer = document.createElement('div');
                    imageContainer.classList.add('image-container');
                    imageContainer.appendChild(image);

                    imagePreviewContainer.appendChild(imageContainer);
                };
            })(file);

            reader.readAsDataURL(file);
        }
    }

    const btnScrollToTop = document.getElementById('scrollToTopBtn')
    const docEl = document.documentElement

    document.addEventListener('scroll', () => {
        const scrollToTal = docEl.scrollHeight - docEl.clientHeight

        if ((docEl.scrollTop / scrollToTal) >= 0.4) {
            btnScrollToTop.hidden = false
        } else {
            btnScrollToTop.hidden = true
        }
    })

    btnScrollToTop.addEventListener('click', () => {
        docEl.scrollTo({
            top: 0,
            behavior: 'smooth'
        })
    })

    function openPopupPost() {
        var popup = document.getElementById("popup-over");
        popup.style.display = "block";
    }

    function closePopupPost() {
        var popup = document.getElementById("popup-over");
        popup.style.display = "none";
    }
    var popupLayout = document.getElementById("popup-over");
    popupLayout.addEventListener("click", function (event) {
        var target = event.target;

        var childOver = document.querySelector(".child-over");

        // Check if the clicked element is outside the child-over class
        if (popupLayout.style.display == "block" && childOver && !childOver.contains(target)) {
            closePopupPost();
        }

    });

    function autoResizeText() {
        const textarea = document.getElementById("post-textarea");

        // Adjust font size based on character count
        if (textarea.value.length > 80) {
            textarea.style.fontSize = "14px";
        } else {
            textarea.style.fontSize = "16px";
        }
    }
</script>
<style scoped lang="scss">
    body {
        font-family: "Montserrat", sans-serif;
    }
    #scrollToTopBtn {
        background-color: #0490d8;
        position: fixed;
        bottom: 5px;
        right: 50%;
        /* top: 20px; */
        z-index: 99;
        font-size: 15px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        padding: 3px 10px;
        border-radius: 4px;
        opacity: 0.3;
    }

    #scrollToTopBtn:hover {
        opacity: 1;
    }

    .uploaded-image {
        width: 100%;
        /* Ensure image fills the container horizontally */
        height: 100%;
        /* Ensure image fills the container vertically */
        object-fit: cover;
    }

    .cmt-content-post {
        padding-right: 10px;
    }

    .image-container {

        overflow: hidden;
    }

    .improve-over {
        background-color: rgba(241, 242, 247, 1);

        .improve-inside {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            position: relative;
            color: rgba(78, 91, 106, 1);

            .improve-pic {
                padding-bottom: 1.75rem;
            }

            .improve-text {
                padding-bottom: 0.5rem;
                font-size: 20px;
                line-height: 28px;
                font-weight: 700;
            }
        }
    }

    .empty-content {
        margin-top: 100px;
    }

    .h-full {
        height: 100%;
    }

    .full-post {
        min-height: 100%;
        background: rgb(240, 242, 245);
    }

    .over-all-cmt {
        max-height: 100%;
        overflow: auto;
    }

    .pd-10-12 {
        padding: 10px 12px;
    }

    .icon-sent {
        width: 15px;
        height: 15px;
        right: -23px;
        bottom: 8px;
    }

    .header-style {
        display: block !important;
    }

    .next-btn {
        position: absolute;
        top: 50%;
        right: 0;
        display: none;
    }

    .back-btn {
        position: absolute;
        top: 50%;
        left: 0;
        display: none;
    }

    .image-slider:hover {

        .next-btn,
        .back-btn {
            background: #fff;
            border-radius: 12px;
            display: flex;
            align-items: center;
            width: 25px;
            height: 25px;
            justify-content: center;

        }

        .next-btn {
            filter: drop-shadow(2px 4px 6px #afafaf);
        }

        .back-btn {
            filter: drop-shadow(2px 4px 6px #afafaf);
        }
    }

    .wh-20px {
        width: 20px;
        height: 20px;
    }

    .text-phr {
        position: absolute;
        left: 17px;
        top: 11px;
        font-size: 14px;
        color: #969595;
    }

    .over-post {
        background: rgb(240, 242, 245);
        /*flex: 1 1 0%;*/
        /*margin-top: -42px;*/
        height: auto;
    }

    .text-cmt {
        font-weight: 300;
        font-size: smaller;
        padding-left: 4px;
    }

    .num-content-post {
        width: 100%;
        height: 24px;
        padding: 0px 10px;
    }

    .hw-24 {
        height: 24px;
        width: 24px;
    }

    .header-content-post {
        margin-bottom: 8px;
        padding: 0px;
        justify-content: space-between;
    }

    .more-opt {
        width: 26px;
        height: 26px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .three-dot {
            width: 20px;
            height: 20px;
        }
    }

    .more-opt::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border-radius: 51%;
        background-color: transparent;
        transition: all 0.3s ease;
    }

    .more-opt:hover::before {
        width: 100%;
        height: 100%;
        background-color: rgb(121 121 121 / 20%);
    }

    .input-style:focus-visible {
        outline: 0px;
        /*border: 1px solid #1e88e5;*/
    }

    .input-style {
        width: 100%;
        border: none;
        border-radius: 25px;
        padding: 10px 16px;
        resize: none;
        overflow: hidden;
        font-family: Montserrat;
    }

    .main-content-post {
        word-break: break-word;
        padding: 0px 10px;
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
    }

    .user-post {
        margin-left: 15px;
        font-weight: 600;
    }

    .over-ava {
        display: inline-flex;
        align-items: center;
    }

    .time-post {
        margin: 0px;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.66;
    }

    .shape-content {
        height: 40px;
    }

    .name-cmter {
        font-size: 15px;
        font-weight: 550;
    }

    .inside-content-v2:hover {
        background: #e6e8ea;
    }

    .inside-content-v2:active {
        background: #d5d5d5;
    }

    .inside-content-v2 {
        direction: ltr;
        line-height: 1.34;
        list-style: none;
        text-align: inherit;
        cursor: pointer;
        font-size: 1.0625rem;
        color: var(--primary-text);
        word-break: break-word;
        word-wrap: break-word;
        hyphens: auto;
        width: 100%;
        font-family: inherit;
        background: #f0f2f5;
        border-radius: 20px;
        height: 40px;
    }

    .inside-content-cmt-v1 {
        line-height: 1.34;
        text-align: inherit;
        cursor: pointer;
        font-size: 1.0625rem;
        word-break: break-word;
        word-wrap: break-word;
        min-width: 155px;
        font-family: inherit;
        background: #f0f2f5;
        border-radius: 20px;
        max-width: 90%;
    }

    .inside-content-cmt-v2 {
        direction: ltr;
        line-height: 1.34;
        list-style: none;
        text-align: inherit;
        cursor: pointer;
        font-size: 1.0625rem;
        word-break: break-word;
        word-wrap: break-word;
        hyphens: auto;
        border: 1px solid #e0e0e0;
        width: 100%;
        font-family: inherit;
        background: #fff;
        border-radius: 22px;
        min-height: 42px;
    }

    .relative {
        position: relative;
    }

    .absolute {
        position: absolute;
    }

    .main-content-v2 {
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: var(--comment-background);
        border-top-right-radius: 20px;
        min-height: 40px;
        -webkit-tap-highlight-color: transparent;
        touch-action: manipulation;
        outline: none;
        text-decoration: none;
        list-style: none;
        margin-right: 0;
        text-align: inherit;
        border-left-style: none;
        border-top-style: none;
        flex-grow: 1;
        margin-left: 0;
        position: relative;
        justify-content: flex-start;
        flex-direction: row;
        padding-left: 12px;
        cursor: pointer;
        align-items: center;
        display: flex;
        border-top-width: 0;
        box-sizing: border-box;
        border-right-width: 0;
        border-right-style: none;
        border-left-width: 0;
        padding-right: 12px;
        border-bottom-width: 0;
        border-bottom-style: none;
        padding-top: 8px;
        margin-bottom: 0;
        margin-top: 0;
        height: auto;
        padding-bottom: 8px;
        font-family: inherit;
    }

    .w-100 {
        width: 100%;
    }

    .text-area:focus-visible {
        outline: 0px;
    }

    .text-area {
        font: inherit;
        letter-spacing: inherit;
        color: currentcolor;
        border: 0px;
        box-sizing: content-box;
        background: none;
        height: auto;
        margin: 0px;
        -webkit-tap-highlight-color: transparent;
        display: block;
        min-width: 0px;
        width: 100%;
        animation-name: mui-auto-fill-cancel;
        animation-duration: 10ms;
        resize: none;
        padding: 0px;
    }

    .inside-content {
        margin-left: 8px;
        padding-left: 0;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.4375em;
        color: rgb(32, 34, 39);
        box-sizing: border-box;
        cursor: text;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        position: relative;
        padding: 16.5px 14px;
        border-radius: 8px;
    }

    .main-content {
        display: inline-flex;
        flex-direction: column;
        position: relative;
        min-width: 0px;
        padding: 0px;
        margin: 0px;
        border: 0px;
        vertical-align: top;
        width: 100%;
    }

    .ava-img {
        width: 100%;
        height: 100%;
        text-align: center;
        object-fit: cover;
        color: transparent;
        text-indent: 10000px;
    }

    .ava-post-cmt {
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 35px;
        height: 35px;
        font-size: 1.25rem;
        line-height: 1;
        border-radius: 50%;
        overflow: hidden;
        user-select: none;
        margin-top: 6px;
    }

    .ava-post {
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        font-family: Inter, sans-serif;
        font-size: 1.25rem;
        line-height: 1;
        border-radius: 50%;
        overflow: hidden;
        user-select: none;
    }

    .content-upload {
        /* max-height: 82.5px; */
        padding: 10px 16px;
    }

    .cmt-upload {
        padding: 5px 16px;
    }

    .f-s {
        align-items: start;
    }

    .body-post {
        margin: auto;
        max-width: 620px;
        height: auto;
        padding-top: 75px;
    }

    .up-post {
        margin-top: 16px;
        width: 100%;
        border: 1px solid #d8dcf0;
        margin: 8px 0;
        background: white;
        border-radius: 8px;
    }

    .content-post {
        padding: 16px;
        background: white;
        border: 1px solid rgb(216, 220, 240);
        border-radius: 8px;
        opacity: 1;
        margin-top: 8px;
        margin-bottom: 8px;
        min-height: 190px;
    }

    .pr-16 {
        padding-right: 16px;
    }

    .header-post {
        height: 64px;
        top: 64px;
        z-index: 10;
        background: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(216, 220, 240);
        width: 100%;
        position: fixed;
        top: 59px;
    }

    .d-flex {
        display: flex;
    }

    .f-al-center {
        align-items: center;
    }

    .f-jt-center {
        justify-content: center;
    }

    .f-dir-c {
        flex-direction: column;
    }

    .image-slider {
        position: relative;
        padding-top: 7px;
    }

    .toastify {
        left: 50%;
        transform: translateX(-50%) !important;
    }

    .opt-hide-post {
        width: 154px;
        background: #fff;
        position: absolute;
        top: 22px;
        left: 12px;
        border-radius: 20px;
        filter: drop-shadow(0px 2px 3px #cbcbcb);
        display: none;
    }

    .over-hidden-post {
        display: flex;
        justify-content: space-around;
        padding: 5px;
        align-items: center;
    }
</style>

<style>
    .wh-30 {
        width: 30px;
        height: 30px;
    }

    .pointer {
        cursor: pointer;
    }

    .wh-15 {
        width: 15px;
        height: 15px;
    }

    .close-btn {
        position: absolute;
        right: 32px;
        top: 17px;
    }

    .text-more {
        font-size: 15px;
        font-weight: 500;
    }

    .add-more-action {
        border: 1px solid #E0E0E0;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 55px;
        justify-content: space-between;
        padding: 0px 25px;
    }

    .upload-container {
        display: flex;
        align-items: center;
    }

    .upload-label {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        cursor: pointer;
    }

    .upload-input {
        display: none;
    }

    .post-textarea {
        resize: none;
        border: none;
        outline: none;
        padding: 12px;
        font-size: 16px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 20px 0px;
        overflow-y: auto;
        min-height: 120px;
    }

    .post-textarea::-webkit-scrollbar,
    .image-preview-container::-webkit-scrollbar {
        width: 8px;
    }

    .post-textarea::-webkit-scrollbar-track,
    .image-preview-container::-webkit-scrollbar-track {
        background-color: #f0f2f5;
        border-radius: 4px;
    }

    .post-textarea::-webkit-scrollbar-thumb,
    .image-preview-container::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    .post-textarea::-webkit-scrollbar-thumb:hover,
    .image-preview-container::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    .btn-submit {
        color: #ffffff;
        height: 40px;
        display: flex;
        padding: 16px;
        box-shadow: 0px 5px 12px rgba(78, 82, 95, 0.15);
        align-items: center;
        margin-top: 15px;
        border-radius: 8px;
        background-color: #0866FF;
        width: 100%;
        margin-bottom: 10px;
    }

    .ver-line {
        border-bottom: 1px solid #E0E0E0;
        height: 10px;
        width: 100%;
    }

    .btn-submit:hover {
        background-color: #1565c0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        text-decoration: none;
    }

    .btn-submit:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #1976d2;
    }

    .pointer {
        cursor: pointer;
    }

    .class-code {
        margin: 30px 0px;
    }

    .note-text {
        font-style: italic;
        margin-top: 15px;
    }

    .w-d {
        color: rgb(32, 34, 39);
        margin: 0px;
        font-weight: 400;
        font-size: 2.125rem;
        line-height: 1.235;
    }

    .each-word {
        border-bottom: 1px solid rgb(163, 167, 180);
        padding: 7.5px 8px;
        height: 58px;
        width: 40px;
        margin: 0px 8px;
    }

    .input-code {
        opacity: 0;
        z-index: 10;
        inset: 0px;
        position: absolute;
    }

    .relative {
        position: relative;
    }

    .absolute {
        position: absolute;
    }

    .popup-over {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(168 168 168 / 80%);
        z-index: 1000000;
    }

    .child-over {
        position: absolute;
        width: 600px;
        min-height: 410px;
        background-color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
    }

    .content {
        padding: 10px 32px;
        background: rgb(255, 255, 255);
        border-radius: 16px;
    }

    .d-flex {
        display: flex;
    }

    .f-al-center {
        align-items: center;
    }

    .f-jt-center {
        justify-content: center;
    }

    .f-dir-c {
        flex-direction: column;
    }

    .main-text {
        font-size: 1.25rem;
        margin: 10px 0px;
        font-weight: 650;
    }

    .sub-text {
        color: rgb(78, 82, 95);
        font-size: 1rem;
        margin: 10px 0px;
    }

    .image-preview-container {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        min-height: 200px;
        max-height: 310px;
        overflow: auto;
    }

    #image-preview-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        /* Adjust the gap between images as needed */
    }


    #image-preview-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
</style>
