﻿

<partial name="_Notification" />


<div class="landing-page">
    <header>
        <div class="container">
            <a href="#" class="logo">Online <b>Learning</b></a>
            <ul class="links">
                <li>Home</li>
                <li>About Us</li>
                <li>Work</li>
                <li>Info</li>
                <li class="btn-signin">Đăng nhập</li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="info">
                <h1>Lớp học trực tuyến</h1>
                @* <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil </p> *@
                <button class="btn-signin">Đăng nhập</button>
            </div>
            <div class="image">
                <img src="https://i.postimg.cc/65QxYYzh/001234.png">
            </div>
        </div>
    </div>
</div>
<!-- End Landing Page -->



