﻿@using BusinessObject.Utility
@using System.Security.Claims
@using Microsoft.AspNetCore.Http.Extensions

@{
    var showLoginForm = (bool)(TempData["ShowLoginForm"] ?? false);
    var showSignupForm = (bool)(TempData["ShowSignupForm"] ?? false);
    string classId = "";
    var currentUrl = Context.Request.GetEncodedUrl();
    var uri = new Uri(currentUrl);
    if ((uri.Segments.Length > 2 ? uri.Segments[1].TrimEnd('/') : "") == "Class")
    {
        classId = uri.Segments.Length > 2 ? uri.Segments[2].TrimEnd('/') : "";
    }
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Online Learning</title>
    @*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>


    @* embed MDB5  *@
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <link rel="stylesheet" href="~/lib/MDB5/css/mdb.min.css"/>
    @* embed MDB5  *@


    @* embed Toastify  *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    @* embed Toastify  *@


    <style>
        .AI-virtual {
            position: fixed;
            width: 70px;
            height: 70px;
            z-index: 10000;
            bottom: 27px;
            right: 27px;
            cursor: pointer;
            filter: drop-shadow(2px 4px 6px #E0E0E0);
        }

        .over-wh-16 {
            width: 16px;
            position: absolute;
            top: -2px;
            right: 2px;
            background: #ffffff;
            border-radius: 10px;
            height: 16px;
            cursor: pointer;
        }

        .wh-8 {
            top: 4px;
            left: 4px;
            position: absolute;
            width: 8px;
            height: 8px;
        }

        .over-close-text-hi {
            width: 16px;
            position: absolute;
            top: -7px;
            right: -8px;
            background: rgb(240, 242, 245);
            border-radius: 10px;
            height: 16px;
            cursor: pointer;
        }

        .close-text-hi {
            width: 9px;
            height: 9px;
            position: absolute;
            top: 3px;
            left: 4px;
        }

        .custom-body {
            height: calc(100vh - 3rem);
        }
        .h-full {
            height: 100%;
        }

        .w-full {
            width: 100%;
        }

        .w-20 {
            width: 20%;
        }

        .w-15 {
            width: 15%;
        }

        .w-67 {
            width: 67%;
        }
        /* Sidebar */
        .sidebar {
            padding-top: 0px;
            position: fixed;
            bottom: 0;
            left: 0;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
            width: 240px;
            z-index: 600;
            height: 100vh;
            background-color: white;
            top: 67px;
            z-index: 999;
        }

        .sidebar .active {
            border-radius: 5px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: 0.5rem;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        }

        .leave-class {
            position: fixed;
            bottom: 0;
            left: 0;
            width: inherit;
            height: 51px;
            background: rgb(240, 242, 245);
            box-shadow: 0px -1px 4px 2px #E0E0E0;
            cursor: pointer;
        }

        .leave-class:hover {
            background: rgb(230 230 230);
        }

        .opt-leave {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon-leave {
            background-image: url("/assets/logout.png");
            background-size: cover;
            background-repeat: no-repeat;
            height: 20px;
            width: 20px;
            margin-left: 20px;
        }

        .text-ai-over {
            height: 88px;
            width: 265px;
            position: absolute;
            right: 29px;
            bottom: 52px;
        }

        .text-hi {
            font-size: 14px;
            padding: 9px 21px;
            color: #000;
        }

        .nav-icon {
            background-size: 24px;
            height: 24px;
            width: 24px;
        }

        .nav-icon-common {
            margin-right: 8px;
            filter: invert(32%) sepia(26%) saturate(344%) hue-rotate(171deg) brightness(100%) contrast(91%);
        }

        .nav-link-v2 {
            height: 100%;
            padding: 0 12px;
            margin: 0 12px;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #4e5b6a;
            text-decoration: none;
            text-align: center;
        }

        .nav-text {
            min-width: fit-content;
        }

        .body-recommand {
            z-index: 999;
            width: 266px;
            height: 212px;
            left: 1.5rem;
            bottom: 1.5rem;
            position: fixed;
        }

        .body-recommand-text {
            z-index: 998;
            position: absolute;
        }

        .content-text-help {
            margin: 0.5rem;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 1);
            padding: 1rem;
            text-align: center;
            box-shadow: 0 0px 20px 0 rgba(90, 125, 141, 0.16);
        }

        .rec-text {
            font-size: 14px;
            line-height: 20px;
        }

        .style-close-btn {
            width: 22px;
            z-index: 1000;
            right: -8px;
            top: -6px;
            position: absolute;
        }

        .content-pic {
            width: 80px;
            height: 80px;
        }

        .body-recommand-text {
            height: 105px;
        }

        .toastify {
            left: 50%;
            transform: translateX(-50%) !important;
        }

    </style>
</head>
<body class="@(User.Identity?.IsAuthenticated == true ? "mt-5 custom-body" : "custom-body")">
@if (User.Identity?.IsAuthenticated == true)
{
    <div class="AI-virtual ">
        <div id="text-ai-over" class="text-ai-over content-text-help ">
            <div class="rec-text cursor-pointer">
                Mình là
                <span style="color: rgba(138, 107, 246, 1); font-weight: bold">Siêu mèo biết tuốt!</span>
                Hãy hỏi mình bất kỳ điều gì bạn muốn nha Meoww
            </div>
            <img src="https://sisapapp.misacdn.net/lms/img/ic_remove.2d9e09d5.svg"
                 alt="" onclick="closeTextHi()"
                 class="style-close-btn cursor-pointer"/>
        </div>
        <img onclick="openChatBoxAI()" src="https://sisapapp.misacdn.net/lms/img/recommend-wonder.57d0c1c2.svg"
             alt=""
             class="content-pic"/>
    </div>
    <header style="position:fixed; top:0; left:0; z-index: 1000000;">
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <div class="container d-flex justify-content-between align-items-center">
                <a href="#" class="logo" style="color: #5d5d5d;
                                                        font-style: italic;
                                                        text-transform: uppercase;
                                                        font-size: 20px;
                                                                        ">Online <b>Learning</b></a>

                <div class="navbar-collapse collapse" id="menu01">
                    <div class="navbar-nav me-auto mb-2 mb-lg-0 text-center d-flex justify-content-center align-items-center" style="width: 100%;">
                        @if (User.IsInRole(RoleConstant.STUDENT))
                        {
                            <div class="nav-item navbar-item active-navbar">
                                <a class="nav-link " asp-action="ListClassStudent" asp-controller="Class">Tổng quan</a>
                            </div>
                        }
                        @if (User.IsInRole(RoleConstant.TEACHER))
                        {
                            <div class="nav-item navbar-item active-navbar">
                                <a class="nav-link " asp-action="ListClass" asp-controller="Class">Tổng quan</a>
                            </div>
                        }
                        <div class="nav-item navbar-item ">
                            <a class="nav-link " href="../Class/Post">Lớp học</a>
                        </div>
                        <div class="nav-item navbar-item">
                            <a class="nav-link" href="https://www.facebook.com/danhng0818">Cửa hàng Affiliate</a>
                        </div>
                    </div>
                </div>

                <div class="header-right border border-2 border-gray p-1 rounded-3 bg-primary" id="avatarWrapper" style="cursor:pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 448 512" class="ms-3" fill="white">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                    </svg>
                    <p class="mb-0 ms-3 me-3 text-light">@User.Identity.Name</p>
                    <svg class="avatar-dropdown-arrow me-3 " id="dropdownWrapperArrow" xmlns="http://www.w3.org/2000/svg" fill="white" height="14" viewBox="0 0 512 512">
                        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                    </svg>
                    <div class="dropdown-wrapper" id="dropdownWrapper" style="width: auto;">
                        <div class="dropdown-profile-details">
                            <span class="dropdown-profile-details--name">@User.Identity.Name</span>
                            <span class="dropdown-profile-details--email">@User.FindFirst(ClaimTypes.Email)?.Value</span>
                        </div>
                        <div class="dropdown-links">
                            <a href="../Auth/MyProfile">Thông tin cá nhân</a>
                            <a href="@Url.Action("LogOut", "Auth")">Đăng xuất</a>
                        </div>
                    </div>
                </div>

            </div>

        </nav>

    </header>
    <div class="container-fluid h-full">
        <div class="row h-full">
            <!-- Sidebar -->

            <div class="row-left h-full w-15">
                @if (ViewBag.ShowSidebar != null && ViewBag.ShowSidebar)
                {
                    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">

                        <div class="position-sticky" style="margin-top: -28px">
                            <div style="padding-top: 10px;" class="list-group list-group-flush mx-3 mt-4">
                                <a href="#" class="list-group-item list-group-item-action py-2 ripple @(ViewBag.ActiveSidebar == "Class" ? "active" : "")">
                                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Lớp học</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                                    <i class="fas fa-lock fa-fw me-3"></i><span>Bảng tin</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                                    <i class="fas fa-chart-line fa-fw me-3"></i><span>Thành viên</span>
                                </a>

                                <a asp-action="Create" asp-controller="Test" class="list-group-item list-group-item-action py-2 ripple @(ViewBag.ActiveSidebar == "Exercise" ? "active" : "")">
                                    <i class="fas fa-chart-bar fa-fw me-3"></i><span>Bài tập</span>
                                </a>
                                <a href="~/Class/@classId/Curriculum" class="list-group-item list-group-item-action py-2 @(ViewBag.ActiveSidebar == "Curriculum" ? "active" : "")">
                                    <i class="fas fa-globe fa-fw me-3"></i><span>Tài liệu</span>
                                </a>

                                <a href="../Test/Transcript" class="list-group-item list-group-item-action py-2 ripple @(ViewBag.ActiveSidebar == "Transcript" ? "active" : "")">
                                    <i class="fas fa-calendar fa-fw me-3"></i><span>Điểm số</span>
                                </a>
                                @*<a href="#" class="list-group-item list-group-item-action py-2 ripple">
                            <i class="fas fa-users fa-fw me-3"></i><span>Users</span>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                            <i class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span>
                            </a>*@
                            </div>
                        </div>

                        <div class="leave-class">
                            <div class="opt-leave">
                                <div class="text-leave">Rời lớp</div>
                                <div class="icon-leave"></div>
                            </div>
                        </div>
                    </nav>
                }

            </div>


            <!-- Main content area -->
            <div style="height: calc(100% - 14px);" class="w-67 main-body">
                <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 h-full w-full">
                    @RenderBody()
                </div>
            </div>

            <div class="w-20">

            </div>
        </div>
    </div>

    <div class="chatbox-AI-layout" id="chatbox-AI-layout" style="display: none">
        <div class="chatbox-AI h-full d-flex">
            <div class="chatbox-header">
                <div class="over-cb-header">
                    <div class="ai-icon">
                        <img src="https://sisapapp.misacdn.net/lms/img/recommend-wonder.57d0c1c2.svg" class="ava-img"/>
                    </div>
                    <div class="ai-intro">
                        Trợ lý trí tuệ nhân tạo Meow
                    </div>
                </div>
                <img src="~/assets/close-white.png"
                     alt="" onclick="closeChatboxAI()"
                     class="close-chatbox-ai"/>
            </div>
            <div class="chatbox-body" style="padding: 10px 10px 0px 10px; border-radius: 0px 20px 20px 0px;">
                <div class="chatbox-content"></div>
                <div class="chatbox-footer">
                    <div class="ava-post">
                        <img src="~/assets/12.jpg" class="ava-img"/>
                    </div>
                    <div class="ai-input-text">
                        <div class="ai-text">
                            <textarea id="ai-textarea" class="ai-textarea w-100" ></textarea>
                            <span id="ai-placeholder" class="ai-placeholder">Bạn đang muốn thảo luận điều gì?</span>
                        </div>
                        <div class="ai-icon-send">
                            <img src="~/assets/share.png" class="icon-ai-send"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <div class="text-center">


        <div class="form-signin">
            <div class="btn-close-form">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" height="16">
                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                </svg>
            </div>
            <div class="logo">
                <img src="~/images/leon-icon.png" alt="">
            </div>
            <form asp-action="SignIn" asp-controller="Auth" method="post">
                <div class="row gy-3 gy-md-4 overflow-hidden">
                    <div class="col-12 w-100 text-start">
                        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control " name="LoginRequest.email" placeholder="user@example.com" required>
                    </div>
                    <div class="col-12 w-100 text-start">
                        <label for="password" class="form-label">Mật khẩu <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" name="LoginRequest.password" value="" required placeholder="******">
                    </div>
                    <div class="col-12  w-100 text-start">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="LoginRequest.KeepLoggedIn" id="remember_me">
                            <label class="form-check-label text-secondary" for="remember_me">
                                Giữ tôi đăng nhập
                            </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit">Đăng nhập</button>
                        <span>or <strong class="ud-text-bold ud-link-underline btn-reset">Quên mật khẩu</strong></span>
                        <p>Bạn chưa có tài khoản? <strong class="btn-signup" style="cursor: pointer">Đăng ký</strong></p>
                    </div>

                </div>
            </form>

        </div>
        <div class="form-signup">
            <div class="btn-close-form">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" height="16">
                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                </svg>
            </div>
            <form asp-action="SignUp" asp-controller="Auth" method="post">
                <div class="row gy-3 gy-md-4 overflow-hidden">
                    <div class="col-12  w-100 text-start">
                        <label for="fullname" class="form-label">Tên <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="SignUpRequest.Name" id="name" placeholder="Họ và tên" required>
                    </div>
                    <div class="col-12  w-100 text-start">
                        <label class="form-label">Vai trò</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="signUpRequest.Role" value="2" checked>
                            <label class="form-check-label" for="1">Học sinh</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="signUpRequest.Role" value="1">
                            <label class="form-check-label" for="2">Giáo viên</label>
                        </div>
                    </div>
                    <div class="col-12 w-100 text-start">
                        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" name="signUpRequest.Email" placeholder="name@example.com" required>
                    </div>
                    <div class="col-12 w-100 text-start">
                        <label for="password" class="form-label">Mật khẩu <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" name="signUpRequest.Password" required placeholder="*******"/>
                    </div>
                    <div class="col-12  w-100 text-start">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="iAgree" id="iAgree" required>
                            <label class="form-check-label text-secondary" for="iAgree">
                                Tôi đồng ý với <a href="#!" class="link-primary text-decoration-none">điều khoản và điều kiện</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-grid">
                            <button class="btn bsb-btn-xl btn-primary" type="submit">Sign up</button>
                            <p>Bạn đã có tài khoản? <strong class="btn-signin" style="cursor: pointer">Đăng nhập</strong></p>
                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="form-reset">
            <div class="btn-close-form">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" height="16">
                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                </svg>
            </div>
            <div class="logo">
                <img src="~/images/leon-icon.png" alt="">
            </div>
            <form asp-action="ForgotPassword" asp-controller="Auth" method="post">
                <div class="row gy-3 gy-md-4 overflow-hidden">
                    <div class="col-12 w-100 text-start">
                        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" name="forgorModel.Email" placeholder="name@example.com" required>
                    </div>
                    <div class="col-12">
                        <button type="submit">Gửi mail</button>
                        <p>Bạn đã có tài khoản? <strong class="btn-signin">Đăng nhập</strong></p>
                    </div>
                </div>


            </form>
        </div>
    </div>
}

<div class="overlay"></div>
<!-- MDB -->
<script type="text/javascript" src="~/lib/MDB5/js/mdb.umd.min.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/main.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)


<script>
        var showLoginForm = '@showLoginForm'.toString().toLowerCase();
        var showSignupForm = '@showSignupForm'.toString().toLowerCase();

        if (showLoginForm === 'true') {
            $(".form-signin").addClass("active");
            $(".form-signup").removeClass("active");
            $(".form-reset").removeClass("active");
            $("body").addClass("no-scroll");
            $(".overlay").addClass("show1");
        }
        if (showSignupForm === 'true') {
            $(".form-signup").addClass("active");
            $(".form-signin").removeClass("active");
            $(".form-reset").removeClass("active");
            $("body").addClass("no-scroll");
            $(".overlay").addClass("show");
        }

       
    </script>

</body>
</html>

<style scoped lang="scss">

    h2 {
        display: flex;
    }

    .nav-item {
       
        transition: all ease .2s;
    }

    .active-navbar {
        border-bottom: 3px solid #8a6bf6;
        font-weight: 700;
        color: #8a6bf6;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .chatbox-AI-layout {
        position: fixed;
        right: 0;
        height: 100%;
        width: 30%;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO4BDjuViOwrlAPD5dJPruMSHw2BR0KiYmfLG7-I6xRPcoA0HNcbK_F-ngPBS9KWJ_Iy8&usqp=CAU);
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        z-index: 1000001;

        .chatbox-AI {
            flex-direction: column;

            .chatbox-header {
                height: 68px;
                width: 100%;
                position: relative;
            }

            .chatbox-body {
                height: 100%;
                padding: 10px 10px 0px 10px;

                .chatbox-content {
                    border-radius: 20px 20px 0px 0px;
                    height: calc(100% - 60px);
                    background: white;
                }

                .chatbox-footer {
                    height: 60px;
                    width: 100%;
                    background: #fff;
                    filter: drop-shadow(1px 6px 6px black);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .ai-icon {
                border-radius: 50%;
                overflow: hidden;
                user-select: none;
                height: 40px;

                .ava-img {
                    height: inherit;
                     object-fit: cover;
                }
            }

            .ai-intro {
                padding-left: 20px;
                font-weight: bold;
                color: #fff;
                font-size: 20px;
            }

            .over-cb-header {
                height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }

    .ava-post {
        width: 40px;
             padding-left: 9px;

        .ava-img {
            width: inherit;
        }
    }

   .ai-input-text {
    background: #f0f2f5;
     border-radius: 20px;
          height: 75%;
     margin: 0px 10px;
        display: flex;
     width: calc(100% - 40px);
     justify-content: space-between;

     .ai-text {
         width: 90%;
        position: relative;
             padding: 5px 0px 5px 10px;
     border-right: 1px solid #E0E0E0
     }

     .ai-icon-send {
         width: 10%;
              display: flex;
     justify-content: center;
     align-items: center;
         position: relative;

     }
   }

   .ai-textarea {
    resize: none;
      border: none;    
      height: 100%;
     background: none;
      outline: none;
     
   }
  
    .ai-placeholder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: gray;
             width: 100%;
     padding: 0px 10px;
    }

    .close-chatbox-ai {
        position: absolute;
         width: 13px;
         height: 13px;
         top: 8px;
         right: 10px;
          cursor: pointer;
    }

    .icon-ai-send {
             position: absolute;
     width: 22px;
     height: 22px;
     top: 12px;
           cursor: pointer;

    }
    
</style>