﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .list {
        background-color: white;
        padding: 16px 16px 0 0;
    }

    .list-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        position: fixed;
        top: 78px;
        right: 32%;
        z-index: 999;
        border-radius: 8px;
    }

    .search-bar {
        padding: 6px 4px;
        background-color: white;
        border-radius: 6px;
        width: 57%;
        display: flex;
        align-items: center;
        border: 1px solid rgb(202, 202, 202);
        cursor: text;
    }

        .search-bar:hover {
            border: 1px solid black;
        }

    .border-blue {
        border: 2px solid rgb(20, 128, 190) !important;
    }

    #search-text {
        font-size: 14px;
        width: 95%;
        outline: none;
        border: none;
    }

    .sort-bar {
        padding: 8px 4px;
        background-color: white;
        border-radius: 6px;
        width: 20%;
        display: flex;
        align-items: center;
        border: 1px solid rgb(202, 202, 202);
    }

    #sort-option {
        height: 100%;
        outline: none;
        border: none;
        width: 100%;
        cursor: pointer;
        font-size: 14px;
    }

    .sort-bar:hover {
        border: 1px solid black;
        cursor: pointer;
    }

    .create-test-btn {
        font-size: 14px !important;
        font-weight: bold;
        padding-top: 8px;
    }

    .test-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
    }

    .list-body {
        margin-top: 42px;
    }

    .list-item {
        padding: 8px;
        border-radius: 8px;    
    }

        .list-item:hover {
            cursor: pointer !important;
            background-color: #f1f1f1;
        }


    .progress {
        height: 8px;
        border-radius: 4px;
    }

    .test-title {
        font-weight: bold;
        font-size: 16px;
    }

    .completion-number {
        position: relative;
    }

        .completion-number p {
            position: absolute;
            bottom: 0px;
            right: 0px;
            margin-bottom: 0;
            font-size: 13px;
            font-weight: bold;
            text-align: end;
            width: fit-content;
        }

    .test-type {
        font-size: 12px;
        opacity: 0.8;
    }

    .test-img {
        width: 13%;
    }

        .test-img img {
            border-radius: 8px;
        }

    .test-infor-title {
        font-size: 20px;
        font-weight: 600;
    }

    .test-infor-description {
        font-size: 12px;
        opacity: 0.8;
    }

    .test-infor-detail {
        background-color: white;
        border: 1px solid rgb(233, 233, 233);
        height: 75%;
        width: 20%;
        position: fixed;
        top: 65px;
        right: 10%;
        z-index: 10000;
        border-radius: 8px;
    }

    .test-infor-detail-body {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        height: 80%;
    }

        .test-infor-detail-body div {
            display: flex;
            justify-content: space-between;
            margin-top: 4px;
        }

    .left {
        font-size: 13px;
    }

    .right {
        font-weight: 600 !important;
        font-size: 13px;
    }

    .test-infor-detail-header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 8px 0px;
        border-bottom: 1px solid rgb(204, 204, 204);
    }

    .test-infor-detail-img {
        display: flex;
        justify-content: center;
    }

        .test-infor-detail-img img {
            border-radius: 8px;
            width: 90%;
        }

    .test-infor-btn .left, .test-infor-btn .right {
        font-size: 13px;
        font-weight: 600;
    }

    .test-infor-btn {
        cursor: pointer;
        padding: 2px 8px;
        border-radius: 8px;
        background: rgb(236, 236, 236);
        display: flex;
        align-items: center;
    }

        .test-infor-btn:hover {
            background-color: rgb(219, 219, 219);
        }

    .test-infor-btns {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 25%;
    }

    .selected-item {
        background-color: rgb(234, 241, 400) !important;
    }
</style>

<div class="prototype d-none">
    <div class="list-item row" onclick="selectTest(this)">
        <input type="text" readonly class="test-id d-none">
        <div class="test-img">
            <img src="@Url.Content("~/assets/test/24055931_0.webp")" alt="" width="100%">
        </div>
        <div class="test-infor col-8">
            <div class="test-title">
                dummyTest
            </div>
            <div class="progress mt-1">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="test-type">
                Trắc nghiệm
            </div>
        </div>
        <div class="completion-number col-2">
            <p>0/0 đã làm</p>
        </div>
    </div>
</div>

<div style="display: flex; padding: 16px">
    <div class="tests row">
        <div class="list col-10">
            <div class="list-header mb-3">
                <div class="search-bar">
                    <input type="text" id="search-text" placeholder="Tìm kiếm..." onfocus="updateBorder(this)"
                           onblur="removeBorder(this)">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="sort-bar">
                    <select id="sort-option" onfocus="updateBorder(this)" onblur="removeBorder(this)">
                        <option value="A - Z" selected>A - Z</option>
                        <option value="Z - A">Z - A</option>
                        <option value="Mới nhất">Mới nhất</option>
                        <option value="Cũ nhất">Cũ nhất</option>
                    </select>
                </div>
                <div class="create-test-btn btn btn-primary" onclick="redirectToCreate()">
                    <i class="fa fa-plus" aria-hidden="true" style="font-size: 13px;"></i> Tạo bài tập
                </div>
            </div>
            <div class="list-body">

            </div>
        </div>
        <div class="test-infor-detail col-4">
            <div class="test-infor-detail-header">
                <div class="test-infor-detail-img">
                    <img src="@Url.Content("~/assets/test/24055931_0.webp")" alt="" width="80%">
                </div>
                <div class="test-infor-title">
                    
                </div>
                <div class="test-infor-description">
                    
                </div>
            </div>
            <div class="test-infor-detail-body">              
                <div class="test-infor-create-date">
                    <div class="left">
                        Ngày tạo
                    </div>
                    <div class="right">
                        
                    </div>
                </div>
                <div class="test-infor-start-date">
                    <div class="left">
                        Bắt đầu
                    </div>
                    <div class="right">
                        
                    </div>
                </div>
                <div class="test-infor-end-date">
                    <div class="left">
                        Hạn chót
                    </div>
                    <div class="right">
                        
                    </div>
                </div>
                <div class="test-infor-type">
                    <div class="left">
                        Loại bài tập
                    </div>
                    <div class="right">
                        
                    </div>
                </div>
                <div class="test-infor-allow-review">
                    <div class="left">
                        Xem lại bài làm
                    </div>
                    <div class="right">
                        
                    </div>
                </div>
                <div class="test-infor-btns">
                    <div class="test-infor-btn" style="border-top: 1px solid rgb(226, 226, 226)">
                        <div class="left text-primary h-100">
                            Chi tiết
                        </div>
                        <div class="right">
                            <i class="fa fa-book text-primary h-100" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="test-infor-btn" onclick="redirectToEdit()">
                        <div class="left h-100">
                            Chỉnh sửa
                        </div>
                        <div class="right">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="test-infor-btn">
                        <div class="left h-100">
                            Xóa
                        </div>
                        <div class="right">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    var tests = [];
    var selectedTestId;
    function updateBorder(e) {
        console.log('ok')
        $(e).parent().addClass('border-blue');
    }

    function removeBorder(e) {
        $(e).parent().removeClass('border-blue');
    }

    document.addEventListener('DOMContentLoaded', function () {
        fetch('http://localhost:9999/api/Test/GetTestList?classId=AF6C291E-804C-4C6F-8AE7-5908C1846286')
            .then(function (response) {
                if (!response.ok) {
                    throw new Error('Error Occured!');
                }
                return response.json();
            })
            .then(function (data) {
                tests = data;
                updateTest();
                console.log(data)
            })
            .catch(function (error) {
                // Xử lý lỗi
                console.error('There was a problem with the fetch operation:', error);
            });
    });

    function redirectToEdit(){
        if(selectedTestId != null){
            window.location.href = "http://localhost:8888/test/create?testId=" + selectedTestId;
        }
    }

    function redirectToCreate(){
        window.location.href = "http://localhost:8888/test/create";
    }

    function updateTest() {
        $(tests).each(function (index, item) {
            var listItem = $('.prototype').find('.list-item').first().clone();
            $(listItem).find('.test-id').val(item.testId)
            $(listItem).find('.test-infor').find('.test-title').text(item.title);
            console.log($(listItem).find('.test-infor').find('.test-title'));
            $('.list-body').append(listItem);
        });
    }

    function selectTest(e) {
        selectedTestId = $(e).find('.test-id').val();
        $('.list-body').find('.list-item').removeClass('selected-item');
        $(e).addClass('selected-item');
        $(tests).each(function (index, item) {
            if (item.testId === selectedTestId) {
                selectedTest = item;
                console.log(selectedTest);
                updateTestDetail();
                return;
            }
        });
    }

    function updateTestDetail() {
        var createDate = $('.test-infor-create-date').find('.right');
        var startDate = $('.test-infor-start-date').find('.right');
        var endDate = $('.test-infor-end-date').find('.right');
        var type = $('.test-infor-type').find('.right');
        var allowReview = $('.test-infor-allow-review').find('.right');
        var title = $('.test-infor-title');
        var description = $('.test-infor-description');

        title.text(selectedTest.title);
        description.text(selectedTest.description);
        createDate.text(formatDate(selectedTest.createTime));
        startDate.text(formatDate(selectedTest.startAt));
        endDate.text(formatDate(selectedTest.endAt));
        type.text('Trắc nghiệm');
        allowReview.text(selectedTest.allowReview ? 'Có' : 'Không');
    }

    function formatDate(dateTimeString) {
        var date = new Date(dateTimeString);
        var year = date.getFullYear();
        var month = ("0" + (date.getMonth() + 1)).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hour = ("0" + date.getHours()).slice(-2);
        var minute = ("0" + date.getMinutes()).slice(-2);
        var second = ("0" + date.getSeconds()).slice(-2);

        var formattedDate = day + "/" + month + "/" + year + " " + hour + ":" + minute + ":" + second;
        return formattedDate;
    }
</script>