﻿<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter" />
</head>

<div class="containerx">
    <div class="page-title"><h2>Bảng điểm</h2></div>
    <div class="options">
        <select class="antd-select">
            <option value="general-score">Bảng điểm chung</option>
            <option value="test-score">Bảng điểm bài kiểm tra</option>
        </select>
        <input class="search-bar" type="text" placeholder="Tìm kiếm..." />
        <button><i class="fas fa-print"></i></button>
    </div>
    <div class="data-table">
        <table>
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    var allTests = [];

    function getTests() {
        fetch("http://localhost:9999/api/Test/GetTestList/85154EE6-DEA6-4183-AF14-5BF050F0E23A", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => { 
                allTests = data;
                var tableHead = document.querySelector(".data-table thead");
                var headerRow = document.createElement("tr");

                var nameHeader = document.createElement("th");
                nameHeader.textContent = "Họ và Tên";
                headerRow.appendChild(nameHeader);

                var averageHeader = document.createElement("th");
                averageHeader.textContent = "Trung bình";
                headerRow.appendChild(averageHeader);

                data.forEach(test => {
                    var testHeader = document.createElement("th");
                    testHeader.textContent = test.title;
                    headerRow.appendChild(testHeader);
                });

                tableHead.appendChild(headerRow);
            })
            .catch(error => {
                console.error('Lỗi khi gọi API getTests:', error);
            });
    }

    function getTranscipt() {
        fetch("http://localhost:9999/api/Test/Transcript/85154EE6-DEA6-4183-AF14-5BF050F0E23A", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => {
                var tableBody = document.querySelector(".data-table tbody");

                data.forEach(function (item) {
                    var row = document.createElement("tr");

                    var nameCell = document.createElement("td");
                    nameCell.innerHTML = '<i class="fas fa-user-circle"></i> ' + item.name;
                    row.appendChild(nameCell);

                    var totalScore = 0;
                    var numTests = 0;

                    allTests.forEach(function (test) {
                        var testCell = document.createElement("td");

                        // Kiểm tra xem account đã làm bài tập hay chưa
                        var completedTest = item.tests.find(function (completed) {
                            return completed.testId === test.testId;
                        });

                        if (completedTest) {
                            testCell.textContent = completedTest.score !== undefined && completedTest.score !== "" ? completedTest.score : "-";
                            totalScore += completedTest.score;
                            numTests++;
                        } else {
                            testCell.textContent = "-";
                        }

                        row.appendChild(testCell);
                    });

                    var averageScore = numTests > 0 ? totalScore / numTests : "-";

                    var averageCell = document.createElement("td");
                    averageCell.textContent = averageScore;

                    row.insertBefore(averageCell, row.children[0].nextSibling);

                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Lỗi khi gọi API Transcript:', error);
            });
    }

    document.addEventListener('DOMContentLoaded', getTests);
    document.addEventListener('DOMContentLoaded', getTranscipt);
</script>

<style>
    .main-body {
        width: 85% !important;
    }

    .containerx {
        background-color: #fff;
        max-width: 100vw;
        width: 100%;
        margin: 0 auto;
    }

    .page-title h2 {
        text-align: left;
        margin: 15px 0 15px 15px;
        color: #333;
        font-family: Inter;
        font-size: 18px;
    }

    .page-title {
        background-color: #fff;
        border: 2px solid #d8dcf0;
    }

    .options {
        padding: 10px 0 10px 15px;
        background-color: #fff;
        border-right: 2px solid #d8dcf0;
        border-bottom: 2px solid #d8dcf0;
        border-left: 2px solid #d8dcf0;
    }

    .antd-select {
        background-color: transparent;
        border: none;
        font-size: 14px;
        padding: 8px 8px;
        border-radius: 4px;
        border: 2px solid #d8dcf0;
        width: 15%;
        color: #333;
        cursor: pointer;
        margin-right: 1%;
    }

        .antd-select:focus,
        .antd-select:hover {
            outline: none;
            border-color: #1890ff;
            box-shadow: 2px 2px 2px 2px rgba(24, 144, 255, 0.2);
        }

        .antd-select::-ms-expand {
            display: none;
        }

        .antd-select:hover::after,
        .antd-select :focus + ::after {
            border-color: #1890ff;
        }

        .antd-select:hover {
            border-color: #1890ff;
        }

    .search-bar {
        margin-right: 1%;
        width: 79%;
        height: 35px;
        font-size: 14px;
        padding: 8px 8px;
        border-radius: 4px;
        border: 2px solid #d8dcf0;
    }

        .search-bar:focus,
        .search-bar:hover {
            outline: none;
            border-color: #1890ff;
        }

    .options button {
        height: 35px;
        width: 3%;
        border: 2px solid #d8dcf0;
        border-radius: 5px;
        background-color: #fff;
    }

    .data-table {
        border-right: 2px solid #d8dcf0;
        border-bottom: 2px solid #d8dcf0;
        border-left: 2px solid #d8dcf0;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 16px;
        text-align: left;
        font-family: Inter;
        font-size: 14px;
    }

    th {
        background-color: #f2f2f2;
        border-right: 2px solid #d8dcf0;
        border-bottom: 2px solid #d8dcf0;
        border-left: 2px solid #d8dcf0;
    }

    tbody tr:last-child td {
        border-bottom: none;
    }

    tbody tr:hover {
        background-color: #f5f5f5;
    }

    td:nth-child(2) {
        border-right: 1px solid #eff0f9;
    }
</style>