﻿@using BusinessObject.Utility
@using System.Security.Claims

<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter" />
</head>

<div class="containerx">
    <div class="page-title">
        <h2>Hồ sơ của tôi</h2>
    </div>

    <div class="avatarx">
        <img src="~/assets/default-avatar.png" alt="default-avatar" />
    </div>
    <div class="profile">
        <div class="account-info">
            <h2>Thông tin tài khoản</h2>
            <div class="rowx">
                <div style="display: flex">
                    <img class="icon" src="~/assets/username.png" />
                    <p style="padding-bottom: 4px">Tên người dùng</p>
                </div>
                <p id="name"></p>
                <a id="editName" class="button"><p style="font-weight: bolder; color: blue">Chỉnh sửa</p></a>
            </div>
            <hr />
            <div class="rowx">
                <div style="display: flex">
                    <img class="icon" src="~/assets/role.png" />
                    <p style="padding-bottom: 4px">Vai trò</p>
                </div>
                <p id="role"></p>
                <p style="font-weight: bolder; color: darkgrey; cursor: pointer">Chỉnh sửa</p>
            </div>
            <hr />
            <div class="rowx">
                <div style="display: flex">
                    <img class="icon" src="~/assets/email.png" />
                    <p style="padding-bottom: 4px">Email</p>
                </div>
                <p id="email"></p>
                <p style="font-weight: bolder; color: darkgrey; cursor: pointer">Chỉnh sửa</p>
            </div>
            <hr />
            <div class="rowx">
                <div style="display: flex">
                    <img class="icon" src="~/assets/password.png" />
                    <p style="padding-bottom: 4px">Mật khẩu</p>
                </div>
                <p>********</p>
                <a id="changePass" class="button"><p style="font-weight: bolder; color: blue">Chỉnh sửa</p></a>
            </div>
            <p style="color: grey; font-family: Inter; font-size: 12px; margin-top: 10px">
                (*) Mẹo: Nếu bạn là một người kĩ tính hãy cập nhật đúng số điện
                thoại hoặc email để thuận tiện cho việc đăng nhập và lấy lại mật
                khẩu.
            </p>
        </div>
        <div class="personal-info">
            <h2>Thông tin cá nhân</h2>
            <p style="color: grey; font-family: Inter; font-size: 12px">
                Nên cung cấp đúng thông tin cá nhân của bạn.
            </p>
            <div class="rowx">
                <div style="display: flex">
                    <img class="icon" src="~/assets/birthday.png" />
                    <p style="padding-bottom: 4px">Ngày sinh</p>
                </div>
                <p id="dob"></p>
                <a id="editDob" class="button"><p style="font-weight: bolder; color: blue">Chỉnh sửa</p></a>
            </div>
            <hr />
            <div class="rowx">
                <div style="display: flex">
                    <img class="icon" src="~/assets/gender.png" />
                    <p style="padding-bottom: 4px">Giới tính</p>
                </div>
                <p id="gender"></p>
                <a id="editGender" class="button"><p style="font-weight: bolder; color: blue">Chỉnh sửa</p></a>
            </div>
            <hr />
            <div class="rowx">
                <div style="display: flex">
                    <img class="icon" src="~/assets/phone-number.png" />
                    <p style="padding-bottom: 4px">Số điện thoại</p>
                </div>
                <p id="phone"></p>
                <a id="editPhone" class="button"><p style="font-weight: bolder; color: blue">Chỉnh sửa</p></a>
            </div>
            <hr />
            <div class="rowx">
                <div style="display: flex">
                    <img class="icon" src="~/assets/location.png" />
                    <p style="padding-bottom: 4px">Địa chỉ</p>
                </div>
                <p id="address"></p>
                <a id="editAddress" class="button"><p style="font-weight: bolder; color: blue">Chỉnh sửa</p></a>
            </div>
            <hr />
            <div class="rowx">
                <div style="display: flex">
                    <img class="icon" src="~/assets/school.png" />
                    <p style="padding-bottom: 4px">Trường</p>
                </div>
                <p id="school"></p>
                <a id="editSchool" class="button"><p style="font-weight: bolder; color: blue">Chỉnh sửa</p></a>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <h2 style="margin-bottom: 0">Chỉnh sửa</h2>
            <form id="form" name="form">
                <div class="mui-input">
                    <input id="inputValue" type="text" required />
                    <label id="labelTitle" class="mui-label"></label>
                    <div class="mui-highlight"></div>
                </div>
                <div class="button-container">
                    <button style="background-color: lightgrey; color: black; font-weight: bolder;"
                            type="button"
                            id="cancelButton"
                            onclick="closeModal()">
                        Hủy
                    </button>
                    <button style="background-color: #1e88e5; color: white; font-weight: bolder;"
                            type="submit"
                            id="saveButton"
                            onclick="submitEdit(this)">
                        Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="changePassModal" class="modal">
        <div class="modal-content">
            <h2 style="margin-bottom: 0">Thay đổi mật khẩu</h2>
            <form id="changePassform" name="changePass">
                <div class="mui-input">
                    <input type="text" required />
                    <label class="mui-label">Mật khẩu mới</label>
                    <div class="mui-highlight"></div>
                </div>
                <div class="mui-input">
                    <input type="text" required />
                    <label class="mui-label">Nhập lại mật khẩu mới</label>
                    <div class="mui-highlight"></div>
                </div>
                <div class="button-container">
                    <button style="background-color: lightgrey; color: black; font-weight: bolder;"
                            type="button"
                            id="cancelChangePassButton"
                            onclick="closeChangePassModal()">
                        Hủy
                    </button>
                    <button style="background-color: #1e88e5; color: white; font-weight: bolder;"
                            type="submit"
                            id="saveChangePassButton"
                            onclick="">
                        Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //Get Account
    let account;
    var id = "@(User.FindFirst(ClaimTypes.Sid)?.Value ?? "")";

    function getAccount() {
        fetch(`http://localhost:9999/api/Auth/GetAccount/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => {
                account = data;
                fillAccountInfo(data);
            })
            .catch(error => {
                console.error('Lỗi khi gọi API GetAccount:', error);
            });
    }

    function formatDate(dateString) {
        const date = new Date(dateString);
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const year = date.getFullYear();
        return `${day}/${month}/${year}`;
    }

    function fillAccountInfo(data) {
        document.getElementById('name').textContent = data.name ? data.name : "Không có dữ liệu";
        document.getElementById('email').textContent = data.email ? data.email : "Không có dữ liệu";
        document.getElementById('dob').textContent = data.dob ? formatDate(data.dob) : "Không có dữ liệu";
        document.getElementById('gender').textContent = data.gender ? data.gender : "Không có dữ liệu";
        document.getElementById('phone').textContent = data.phone ? data.phone : "Không có dữ liệu";
        document.getElementById('address').textContent = data.address === "" || data.address === '' ? data.address : "Không có dữ liệu";
        document.getElementById('school').textContent = data.school === "" || data.school === '' ? data.school : "Không có dữ liệu";

        var roleElement = document.getElementById('role');
        if (data.role === 2) {
            roleElement.textContent = "Học sinh";
        } else if (data.role === 1) {
            roleElement.textContent = "Giáo viên";
        } else {
            roleElement.textContent = "Không có dữ liệu"
        }
    }

    document.addEventListener('DOMContentLoaded', getAccount);

    //Modal
    var modal = document.getElementById('myModal');
    var labelTitle = document.getElementById('labelTitle');
    var editName = document.getElementById('editName');
    var editDob = document.getElementById('editDob');
    var editGender = document.getElementById('editGender');
    var editPhone = document.getElementById('editPhone');
    var editAddress = document.getElementById('editAddress');
    var editSchool = document.getElementById('editSchool');
    var inputValue = document.getElementById('inputValue');

    editName.onclick = function () {
        modal.style.display = "block";
        labelTitle.textContent = "Tên người dùng";
        inputValue.value = account.name;
    };

    editDob.onclick = function () {
        modal.style.display = "block";
        labelTitle.textContent = "Ngày sinh";
        inputValue.value = account.dob;
    };

    editGender.onclick = function () {
        modal.style.display = "block";
        labelTitle.textContent = "Giới tính";
        inputValue.value = account.gender;
    };

    editPhone.onclick = function () {
        modal.style.display = "block";
        labelTitle.textContent = "Số điện thoại";
        inputValue.value = account.phone;
    };

    editAddress.onclick = function () {
        modal.style.display = "block";
        labelTitle.textContent = "Địa chỉ";
        inputValue.value = account.address;
    };

    editSchool.onclick = function () {
        modal.style.display = "block";
        labelTitle.textContent = "Trường";
        inputValue.value = account.school;
    };

    function closeModal() {
        modal.style.display = "none";
        inputValue.value = "";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            inputValue.value = "";
        }
    };

    function updateAccount(data) {
        fetch(`http://localhost:9999/api/Auth/Edit/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Có lỗi khi gọi API Edit');
                }
            })
            .then(data => {
                account = data;
                fillAccountInfo(data);
                Toastify({
                    text: "Cập nhật hồ sơ thành công",
                    duration: 2000,
                    close: true,
                    gravity: "top",
                    position: "default",
                    backgroundColor: "green",
                }).showToast();
            })
            .catch(error => {
                console.error('Lỗi khi gọi API Edit:', error);
            });
    }

    function submitEdit() {
        if (labelTitle.textContent === "Tên người dùng") {
            updateAccount({ name: inputValue.value })
        } else if (labelTitle.textContent === "Ngày sinh") {
            updateAccount({ dob: inputValue.value })
        } else if (labelTitle.textContent === "Giới tính") {
            updateAccount({ gender: inputValue.value })
        } else if (labelTitle.textContent === "Số điện thoại") {
            updateAccount({ phone: inputValue.value })
        } else if (labelTitle.textContent === "Địa chỉ") {
            updateAccount({ address: inputValue.value })
        } else if (labelTitle.textContent === "School") {
            updateAccount({ school: inputValue.value })
        }
        closeModal();
    }

    //Change Password Modal
    var changePassModal = document.getElementById('changePassModal');
    var changePass = document.getElementById('changePass');

    changePass.onclick = function () {
        changePassModal.style.display = "block";
    };

    function closeChangePassModal() {
        changePassModal.style.display = "none";
        inputValue.value = "";
    }

    window.onclick = function (event) {
        if (event.target == changePassModal) {
            changePassModal.style.display = "none";
            inputValue.value = "";
        }
    };
</script>

<style>
    body {
        background-color: #e0e0e0 !important;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 10px 20px;
        border: 1px solid #888;
        border-radius: 15px;
        width: 32%;
        font-family: Inter, sans-serif;
        font-size: 12px;
    }

    .button-container {
        text-align: right;
        margin-top: 5px;
    }

        .button-container button {
            height: 30px;
            width: 110px;
            margin-left: 10px;
            border: none;
            border-radius: 5px;
        }

            .button-container button:hover {
                cursor: pointer;
            }

    .containerx {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 0 20px;
        max-width: 58vw;
        width: 100%;
        margin: 0 auto;
        align-self: center;
    }

    .avatarx {
        text-align: center;
        margin-bottom: 20px;
    }

        .avatarx img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-top: 10px;
        }

    .profile {
        margin-top: 20px;
    }

    .page-title {
        position: fixed;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: Inter;
        background-color: white;
    }

    .account-info h2,
    .personal-info h2 {
        margin-bottom: 10px;
        color: #555;
    }

    .account-info p,
    .personal-info p {
        margin-bottom: 5px;
        color: #777;
    }

        .account-info p:last-child,
        .personal-info p:last-child {
            margin-bottom: 0;
        }

    .rowx {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        float: left;
    }

    .button {
        float: right;
        text-decoration: none;
        cursor: pointer;
    }

    .account-info h2,
    .personal-info h2 {
        font-family: Inter;
        font-size: 18px;
    }

    .icon {
        height: 30px;
        width: 35px;
        margin-right: 10px;
    }

    .rowx p {
        font-family: Inter;
    }

    .personal-info {
        margin: 20px 0;
    }

    /* css cho trường nhập liệu giống với textfield của mui design */
    .mui-input {
        position: relative;
        display: inline-block;
        width: 100%;
    }

        .mui-input input {
            width: 100%;
            padding-top: 18px;
            border: none;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            transition: border-color 0.3s;
        }

        .mui-input:hover input {
            border-color: #888;
        }

        .mui-input input:focus {
            outline: none;
            border-color: #333;
        }

    .mui-label {
        position: absolute;
        top: 14px;
        left: 8px;
        pointer-events: none;
        font-size: 16px;
        color: #555;
        transition: top 0.3s, font-size 0.3s, color 0.3s;
    }

    .mui-input input:focus + .mui-label,
    .mui-input input:valid + .mui-label {
        top: 4px;
        font-size: 12px;
        color: #1976d2;
    }

    .mui-highlight {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #1976d2;
        transform: scaleX(0);
        transition: transform 0.3s;
    }

    .mui-input input:focus ~ .mui-highlight {
        transform: scaleX(1);
    }

</style>