﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đổi mật khẩu</title>
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
          rel="stylesheet" />
</head>

<body>
    <div class="container">
        <header>Đổi mật khẩu</header>
        <form asp-controller="Auth" asp-action="ResetPassword" >
            <input type="hidden" name="rq.token" id="tokenInput">
            <div class="error-text"></div>
            <div class="field">
                <input onkeyup="active()" id="pswrd_1" type="password" placeholder="Nhập mật khẩu" name="rq.password">
            </div>
            <div class="field">
                <input onkeyup="active_2()" id="pswrd_2" disabled type="password" placeholder="Xác nhận mật khẩu" name="rq.confirmPassword">
                <div class="show">Hiện</div>
            </div>
            <button disabled type="submit">Đổi mật khẩu </button>
        </form>
    </div>

    <script>
        const pswrd_1 = document.querySelector("#pswrd_1");
        const pswrd_2 = document.querySelector("#pswrd_2");
        const errorText = document.querySelector(".error-text");
        const showBtn = document.querySelector(".show");
        const btn = document.querySelector("button");
        function active() {
            if (pswrd_1.value.length >= 6) {
                btn.removeAttribute("disabled", "");
                btn.classList.add("active");
                pswrd_2.removeAttribute("disabled", "");
            } else {
                btn.setAttribute("disabled", "");
                btn.classList.remove("active");
                pswrd_2.setAttribute("disabled", "");
            }
        }
        btn.onclick = function () {
            if (pswrd_1.value != pswrd_2.value) {
                errorText.style.display = "block";
                errorText.classList.remove("matched");
                errorText.textContent = "Xác nhận mật khẩu không trùng khớp ";
                return false;
            } else {
                errorText.style.display = "block";
                errorText.classList.add("matched");
                return true;
            }
        }
        function active_2() {
            if (pswrd_2.value != "") {
                showBtn.style.display = "block";
                showBtn.onclick = function () {
                    if ((pswrd_1.type == "password") && (pswrd_2.type == "password")) {
                        pswrd_1.type = "text";
                        pswrd_2.type = "text";
                        this.textContent = "Hide";
                        this.classList.add("active");
                    } else {
                        pswrd_1.type = "password";
                        pswrd_2.type = "password";
                        this.textContent = "Show";
                        this.classList.remove("active");
                    }
                }
            } else {
                showBtn.style.display = "none";
            }
        }
        // Function to extract token from URL
        function getTokenFromURL() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('token');
        }

        // Set the token value to the hidden input field
        document.getElementById('tokenInput').value = getTokenFromURL();
    </script>

</body>
</html>

<style scoped>

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #f2f2f2;
}
.container{
  background: #fff;
  padding: 20px 30px;
  width: 420px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.container header{
  padding-top: 5px;
  font-size: 25px;
  font-weight: 600;
  line-height: 33px;
}
.container form{
  margin: 5px 8px;
}
.container form .error-text{
  background: #F8D7DA;
  padding: 8px 0;
  border-radius: 5px;
  color: #8B3E46;
  border: 1px solid #F5C6CB;
  display: none;
}
.container form .error-text.matched{
  background: #D4EDDA;
  color: #588C64;
  border-color: #C3E6CB;
}
.container form .field{
  width: 100%;
  height: 45px;
  display: flex;
  margin: 15px 0;
  position: relative;
}
form .field input{
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  padding-left: 15px;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
  transition: all 0.3s;
}
form .field input::placeholder{
  font-size: 16px;
}
form .field input:focus{
  border-color: #0f4ce4;
  box-shadow: inset 0 0 3px #0f4ce4;
}
form .field .show{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
  display: none;
}
form .field .show.active{
  color: #0f4ce4;
}
form button{
  width: 100%;
  height: 45px;
  margin: 3px 0 10px 0;
  border: none;
  outline: none;
  background: #0f4ce4;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: no-drop;
  opacity: 0.7;
}
form button.active{
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}
form button.active:hover{
  background: #219150;
}

</style>
