﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Verification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

        #message {
            font-size: 18px;
            margin-bottom: 20px;
        }

        #error-message {
            color: red;
        }

        #countdown {
            font-size: 16px;
            margin-top: 10px;
        }
    </style>
</head>
<body>

    <div id="message">Đang xác thực tài khoản của bạn ...</div>
    <div id="countdown"></div>

    <script>
        const token = new URLSearchParams(window.location.search).get('token');
        const apiUrl = `http://localhost:9999/api/Auth/Verify?token=${token}`;
        const messageElement = document.getElementById('message');
        const countdownElement = document.getElementById('countdown');

        // Function to handle success response
        function handleSuccess() {
            messageElement.textContent = 'Xác thực tài khoản thành công, trở về trang chủ sau: ';
            let countdown = 5;
            countdownElement.textContent = countdown;

            // Countdown timer
            const countdownInterval = setInterval(() => {
                countdown--;
                countdownElement.textContent = countdown;

                if (countdown === 0) {
                    clearInterval(countdownInterval);
                    window.location.href = 'http://localhost:8888/Home';
                }
            }, 1000);
        }

        // Function to handle error response
        function handleError() {
            const errorMessageElement = document.createElement('div');
            errorMessageElement.id = 'error-message';
            errorMessageElement.textContent = 'Xác thực tài khoản thất bại, vui lòng thử lại...';
            document.body.appendChild(errorMessageElement);
        }

        // Make the API request
        fetch(apiUrl)
            .then(response => {
                if (response.ok) {
                    handleSuccess();
                } else {
                    handleError();
                }
            })
            .catch(error => {
                console.error('Error:', error);
                handleError();
            });
    </script>

</body>
</html>
