﻿
@{
}
<style>
    /* form starting stylings ------------------------------- */
    .group {
        position: relative;
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 85%;
        border: none;
        border-bottom: 1px solid #757575;
    }

        input:focus {
            outline: none;
        }

    /* LABEL ======================================= */
    .title-label,
    .chapter-title-label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label,
    input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #5264ae;
    }

    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 85%;
    }

        .bar:before,
        .bar:after {
            content: "";
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #5264ae;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        .bar:before {
            left: 50%;
        }

        .bar:after {
            right: 50%;
        }

    /* active state */
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
        width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    /* active state */
    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @@-webkit-keyframes inputHighlighter {
        from {
            background: #5264ae;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @@-moz-keyframes inputHighlighter {
        from {
            background: #5264ae;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @@keyframes inputHighlighter {
        from {
            background: #5264ae;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    /* Internal CSS styles */
    body {
        font-family: Arial, sans-serif;
        /* background-color: rgb(250, 243, 243); */
        margin: 0;
        padding: 20px 100px 20px 100px;
    }

    .addBtn,
    .saveBtn {
        font-size: 12px;
    }

    .saveBtn {
        margin-left: 68%;
    }

    .chapter {
        font-size: 18px;
    }

    .chapter-title-label {
        font-size: 16px;
    }

    .fadeIn {
        animation: fadeIn 0.5s ease-in-out forwards;
    }

    .remove-content-btn {
        margin-right: 27%;
        margin-top: 14px;
    }

        .remove-content-btn:hover,
        .remove-chapter-btn:hover {
            cursor: pointer;
            opacity: 0.8;
        }

    .switch-link-btn {
        font-size: 20px;
    }

    .form-switch .form-check-input:checked[type=checkbox]:after {
        top: 3px;
        right: -9px;
    }

    .form-switch .form-check-input:not(:checked)[type=checkbox]:after {
        top: 3px;
        right: 19px;
    }

    .form-check-input:before {
        content: none;
    }

    .form-check-input[type=checkbox]:checked {
        background-color: #0053db;
    }

</style>
<div class="mt-3"></div>
<div class="chapter-prototype chapter mb-3 p-3 bg-body-tertiary w-75 d-none">
    <i class="remove-chapter-btn fa fa-close text-danger float-end"
       onclick="removeChapter(this)">
    </i>
    <div class="group w-50 chapter-header mb-3">
        <input type="text" required/>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="chapter-title-label">Tiêu đề chương</label>
    </div>

    <div class="chapter-body">
        <div class="content-list">
            <div class="contentInput ms-3 mb-3">
                <i class="remove-content-btn fa fa-close text-danger float-end"
                   onclick="removeContent(this)">
                </i>


                <div class="openLink form-check form-switch mb-2">
                    <input class="toggleSwitch form-check-input .switch-link-btn"
                           type="checkbox"
                           id="toggleSwitch"
                           onchange="changeToLink(this)"/>
                    <label class="form-check-label" for="toggleSwitch">Nhập link</label>
                </div>
                <input type="text"
                       class="txtContentDescription form-control form-control-sm w-75 mb-2"
                       name="txtContentDescription"

                       placeholder="Mô tả tài liệu"/>
                <div class="fileInput mb-2">
                    <input type="file" class="form-control w-75 file"/>
                </div>
                <div class="linkInput mb-2" style="display: none">
                    <input type="text"
                           class="link form-control form-control w-75"

                           placeholder="Nhập liên kết"/>
                </div>
            </div>
        </div>
        <button class="btn btn-success saveBtn" onclick="saveContent(this)">
            <i class="fa fa-save"></i> Lưu
        </button><br/>
        <button class="addBtn addContentBtn btn btn-primary ms-2"
                onclick="addContent(this)">
            + Thêm tài liệu
        </button>
    </div>
</div>

<div class="content-prototype contentInput ms-3 mb-3 d-none">
    <i class="remove-content-btn fa fa-close text-danger float-end"
       onclick="removeContent(this)">
    </i>
    <div class="openLink form-check form-switch mb-2">
        <input class="toggleSwitch form-check-input"
               type="checkbox"

               onchange="changeToLink(this)"/>
        <label class="form-check-label" for="toggleSwitch">Nhập link</label>
    </div>
    <input type="text"
           class="form-control form-control-sm w-75 mb-2"
           name="txtContentDescription"
           placeholder="Mô tả tài liệu"/>
    <div class="fileInput mb-2">
        <input type="file" class="form-control w-75 file"/>
    </div>
    <div id="linkInput" class="mb-2" style="display: none">
        <input type="text"
               class="form-control form-control w-75 link"

               placeholder="Nhập liên kết"/>
    </div>
</div>

<div class="container">
    <div class="group curriculum-header mb-2 w-100">
        <input type="text" required id="titleInput"/>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="title-label">Tiêu đề khung chương trình</label>
    </div>

    <div class="curriculum-body ms-3">
        <div class="chapter mb-3 p-3 bg-body-tertiary w-75">
            <i class="remove-chapter-btn fa fa-close text-danger float-end"
               onclick="removeChapter(this)">
            </i>
            <div class="group w-50 chapter-header mb-3">
                <input type="text" required class="txtChapterTitleInput"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="chapter-title-label">Tiêu đề chương</label>
            </div>

            <div class="chapter-body">
                <div class="content-list">
                    <div class="contentInput ms-3 mb-3">
                        <i class="remove-content-btn fa fa-close text-danger float-end"
                           onclick="removeContent(this)">
                        </i>
                        <div class="openLink form-check form-switch mb-2">
                            <input class="toggleSwitch form-check-input"
                                   type="checkbox"

                                   onchange="changeToLink(this)"/>
                            <label class="form-check-label" for="toggleSwitch">Nhập link</label>
                        </div>
                        <input type="text"
                               class="form-control form-control-sm w-75 mb-2"
                               name="txtContentDescription"

                               placeholder="Mô tả tài liệu"/>
                        <div class="fileInput mb-2">
                            <input type="file" class="form-control w-75 file"/>
                        </div>
                        <div class=" fileInput mb-2" style="display: none">
                            <input type="text"
                                   class="form-control form-control w-75 link"

                                   placeholder="Nhập liên kết"/>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success saveBtn"
                        onclick="saveContent(this)">
                    <i class="fa fa-save"></i> Lưu
                </button><br/>
                <button class="addBtn addContentBtn btn btn-primary ms-2"
                        onclick="addContent(this)">
                    + Thêm tài liệu
                </button>
            </div>
        </div>
    </div>

    <div class="addItemBtn">
        <button class="addBtn addChapterBtn btn btn-primary" onclick="addChapter()">
            + Thêm chương
        </button>
    </div>

    <button class="mt-4 btn btn-primary" onclick="saveCurriculum()">Save Curriculum</button>

</div>


<script>
    var classid = "@ViewBag.ClassID";
    function addContent(element) {
        // Tìm phần tử cha gần nhất có class là 'chapter-body'
        var $chapterBody = $(element).closest(".chapter-body");

        // Tìm phần tử con '.content-list' trong phần tử cha 'chapter-body'
        var $contentList = $chapterBody.find(".content-list");
        $chapterBody.find(".saveBtn").removeClass("d-none");
        // Lấy giá trị của các trường input trong '.contentInput'
        var descriptionValue = $contentList
            .find(".txtContentDescription")
            .val();
        var fileValue = $contentList.find("#file").val();
        var linkValue = $contentList.find(".link").val();

        // Kiểm tra xem các trường input đã được điền đầy đủ chưa
        if (descriptionValue !== "" && (fileValue !== "" || linkValue !== "")) {
            var $newContentInput = $("#content-prototype")
                .clone()
                .removeClass("d-none")
                .removeAttr("id");
            console.log($newContentInput);
            $newContentInput.appendTo($contentList);

            // Xóa nội dung của các trường input trong '.contentInput' mới
            $newContentInput.find('input[type="text"]').val("");
        } else {
            alert("Vui lòng điền đầy đủ thông tin trước khi thêm nội dung mới.");
        }
    }
    function changeToLink(element) {
        if ($(element).is(":checked")) {
            // Ẩn phần nhập file và hiển thị phần nhập link
            $(element).closest(".contentInput").find(".fileInput").hide();
            $(element).closest(".contentInput").find(".linkInput").slideDown();
        } else {
            // Hiển thị phần nhập file và ẩn phần nhập link
            $(element).closest(".contentInput").find(".fileInput").slideDown();
            $(element).closest(".contentInput").find(".linkInput").hide();
        }
    }

    function saveContent(element) {
        var contentList = [];
        var $contentList = $(element).parent().find(".content-list");
        var $contentInput = $contentList.find(".contentInput");
        var newContent = "";
        console.log($contentInput);
        $contentInput.each((indexedDB, element) => {
            var item = $(element);
            var description = item.find(".txtContentDescription").val();
            var link = item.find("#link").val();
            var file = item.find("#file")[0].files[0];
            var useLink = $contentInput.find("#toggleSwitch").is(":checked");
            var content = "";

            if (useLink) {
                content = `<a class="btn btn-outline-dark text-start" style="font-size: 12px;" href="${link}"><i class="fa fa-link"></i> ${description}</a>`;
            } else {
                var icon = "";
                var fileType = file.name.split(".").pop().toLowerCase();
                if (fileType === "ppt" || fileType === "pptx") {
                    icon =
                        '<i class="fa fa-file-powerpoint" aria-hidden="true"></i>';
                } else if (fileType === "pdf") {
                    icon = '<i class="fa fa-file-pdf" aria-hidden="true"></i>';
                } else if (fileType === "doc" || fileType === "docx") {
                    icon = '<i class="fa fa-file-word" aria-hidden="true"></i>';
                } else {
                    icon = '<i class="fas fa-file"></i>';
                }
                content = ` <a class="btn btn-outline-dark text-start" style="font-size: 12px;" href="${URL.createObjectURL(
                    file
                )}" download>${icon} ${description}</a>`;
            }
            console.log("content: " + content);
            $(element).html(content);
            $(element).removeClass("contentInput");
            $contentList.parent().find(".saveBtn").addClass("d-none");
        });
    }
    $(document).ready(function () {
        $(".addChapterBtn").click(function () {
            var newChapter = $(".chapter-prototype")
                .clone()
                .removeClass("d-none")
                .removeAttr("id"); 
            $(".curriculum-body").append(newChapter.fadeIn());
            console.log("add chapter")
        });
    });
    function addChapter() {
        var newChapter = $(".chapter-prototype")
            .clone()
            .removeClass("d-none")
            .removeAttr("id"); // Clone the first chapter element
        $(".curriculum-body").append(newChapter.fadeIn());
    }

    function removeContent(element) {
        var contentInput = $(element).closest(".contentInput"); // Tìm phần tử cha gần nhất có class là 'contentInput'
        var parent = contentInput.parent();
        var numberOfContentInputs = parent.find(".contentInput").length;
        numberOfContentInputs += parent.find("a").length;;
        if (numberOfContentInputs > 1) {
            // Kiểm tra điều kiện
            contentInput.remove(); // Xóa phần tử cha
        } else {
            alert("Không thể xóa nội dung duy nhất.");
        }
    }

    function removeChapter(element) {
        var contentInput = $(element).closest(".chapter"); 
        var parent = contentInput.parent();
        var numberOfContentInputs = parent.find(".chapter").length;

        if (numberOfContentInputs > 1) {
            // Kiểm tra điều kiện
            contentInput.remove(); // Xóa phần tử cha
        } else {
            alert("Không thể xóa chương duy nhất.");
        }
    }

    class Content {
        constructor(description, content) {
            this.description = description;
            this.content = content;
        }
    }

    function createCurriculumObject() {
        var curriculum = {
            CurriculumTitle: document.getElementById('titleInput').value,
            ClassId: classid,
            Chapters: []
        };

        var chapterElements = document.querySelectorAll('.chapter');
        chapterElements.forEach(function (chapterElement) {
            var chapter = {
                ChapterTitle: chapterElement.querySelector('.txtChapterTitleInput').value,
                Materials: []
            };

            var contentElements = chapterElement.querySelectorAll('.contentInput');
            contentElements.forEach(function (contentElement) {
                var material = {
                    MaterialTitle: contentElement.querySelector('.txtContentDescription').value,
                    
                };

                chapter.Materials.push(material);
            });

            curriculum.Chapters.push(chapter);
        });
        if (curriculum.Chapters.length > 0) {
            curriculum.Chapters.shift()
        }
        return curriculum;
    }

    function getCookie(cookieName) {
        var name = cookieName + '=';
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookieArray = decodedCookie.split(';');

        for (var i = 0; i < cookieArray.length; i++) {
            var cookie = cookieArray[i].trim();
            if (cookie.indexOf(name) === 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }

        return '';
    }

    function saveCurriculum() {
        var curriculum = createCurriculumObject();
        var token = getCookie('AccessToken');
        $.ajax({
            url: 'http://localhost:9999/api/Curriculum/Create',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(curriculum),
            headers: {
                'Authorization': 'Bearer ' + token
            },
            success: function (data) {
    
                // Show success notification
                Toastify({
                    text: 'Tạo khóa học thành công',
                    duration: 2000,
                    close: true,
                    gravity: "top",
                    position: "default",
                    backgroundColor: 'green',
                }).showToast();
    
                // Redirect to the specified URL
                window.location.href = 'http://localhost:8888/${classId}//Curriculum';
            },
            error: function (error) {
    
                // Show error notification
                Toastify({
                    text: 'Tạo khóa học thất bại vui lòng thử lại ',
                    duration: 2000,
                    close: true,
                    gravity: "top",
                    position: "default",
                    backgroundColor: 'red',
                }).showToast();
            }
        });
    }

</script>
