﻿@model CurriculumResponse
@using Microsoft.AspNetCore.Http.Extensions
@{
    string classId = "";
    var currentUrl = Context.Request.GetEncodedUrl();
    var uri = new Uri(currentUrl);
    if ((uri.Segments.Length > 2 ? uri.Segments[1].TrimEnd('/') : "") == "Class")
    {
        classId = uri.Segments.Length > 2 ? uri.Segments[2].TrimEnd('/') : "";
    }
}
<style>
    body {

        margin: 0;
        padding: 20px 100px 20px 100px;
    }

    .title {
        font-weight: 600;
        color: #000000;
    }

    .curriculum-header p {
        font-size: 13px;
        margin-right: 8px;
    }

    .extend-all-btn {
        margin-left: 51%;
        font-weight: 600;
    }

    .extend-all-btn:hover {
        opacity: 80%;
        cursor: pointer;
    }

    .chapter-title {
        font-weight: 600;
        font-size: 15px;
    }

    .extend-btn {
        margin-right: 8px;
        font-size: 15px;
    }

    .curriculum-item-header {
        border-radius: 10px;
    }

    .curriculum-item-header:hover {
        cursor: pointer;
    }

    .content-description {
        display: inline;
        font-size: 13px;
        text-decoration: none;
        color: #000000;
    }

    .content-description:hover {
        cursor: pointer;
    }

    .curriculum-item-content {
        border-bottom: 1px rgb(243, 243, 243) solid;
    }
</style>


<header class="mb-3"></header>
@if (Model == null)
{
    <div class="d-flex justify-content-between">
        <h4 class="title mb-4">Bạn chưa tạo khung chương trình cho lớp học này </h4>
        <a type="button" class="btn btn-secondary" data-mdb-ripple-init href="~/Class/@classId/Curriculum/Create">
            Thêm mới
        </a>
    </div>
    <h5 class="title mb-2">Hãy tạo khung chương trình ...</h5>
}
else
{
    <div class="d-flex justify-content-between">
        <h3 class="title mb-4">@Model.CurriculumTitle </h3>
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init asp-controller="Class"
                asp-action="CreateCurriculum">
            Sửa
        </button>
    </div>
    <h5 class="title mb-2">Tài liệu học tập </h5>


    <div class="curriculum">
        <div class="curriculum-header flex-row flex-lg-nowrap">
            <p class="w-25 d-inline"><strong>@Model.Chapters.Count</strong> chương</p>
            <div class="icon"
                 style="border-radius: 50%; width: 10px; height: 10px; background: black; position: relative; display: inline;">
            </div>
            <p class="w-25 d-inline"><strong>170</strong> tài liệu</p>
            <p class="d-inline extend-all-btn text-primary" onclick="extendAll(this)">
                Mở rộng tất cả
            </p>
        </div>
        <div class="curriculum-body mt-4">
            @foreach (var chapter in Model.Chapters)
            {
                <div class="curriculum-item w-75">
                    <div class="curriculum-item-header bg-body-secondary p-2 mb-2" onclick="minimizeContent(this)">
                        <i class="extend-btn text-primary ms-3 fa fa-arrow-down"></i>
                        <p class="d-inline chapter-title">@chapter.ChapterTitle</p>
                    </div>
                    <div class="curriculum-item-body d-none">
                        <!-- Loop through Materials -->
                        @foreach (var material in chapter.Materials)
                        {
                            <div class="curriculum-item-content p-2">
                                <!-- Display Material information -->
                                <i class="fa fa-link ms-4 me-1 text-primary"></i>
                                <a class="content-description">@material.MaterialTitle</a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}


<script>
    function minimizeContent(element) {
        var curriculumItem = $(element).parent();
        var curriculumItemBody = curriculumItem.find(
            ".curriculum-item-body"
        );
        var curriculumItemExtend = curriculumItem
            .find(".curriculum-item-header")
            .find("i");
        console.log(curriculumItemBody);
        if (curriculumItemBody.is(":visible")) {
            curriculumItemBody.addClass("d-none");
            curriculumItemExtend.removeClass("fa-arrow-up");
            curriculumItemExtend.addClass("fa-arrow-down");
        } else {
            curriculumItemBody.removeClass("d-none");
            curriculumItemExtend.removeClass("fa-arrow-down");
            curriculumItemExtend.addClass("fa-arrow-up");
        }
    }


    function extendAll(element) {
        var curriculumItemBodies = document.querySelectorAll(".curriculum-item-body");


        if ($(element).text().trim() === 'Mở rộng tất cả') {
            $(element).text('Thu nhỏ tất cả')
            curriculumItemBodies.forEach(function (item) {
                $(item).removeClass("d-none")
                console.log(item); // Ví dụ: in ra phần tử để kiểm tra
            });
        } else {
            $(element).text('Mở rộng tất cả')
            curriculumItemBodies.forEach(function (item) {
                $(item).addClass("d-none")
                console.log(item); // Ví dụ: in ra phần tử để kiểm tra
            });
        }

    }


</script>